<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codemoa.project.domain.information.mapper.InformationRecommendMapper" >
	<select id="getLecture">
		select * from lecture where recommend_no = #{no}
	</select>
	
	<select id="getBook">
		select * from book where recommend_no = #{no}
	</select>
	
	<select id="getRecommendContest">
		select * from recommendContest where recommend_no = #{no}
	</select>

</mapper>