<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codemoa.project.domain.information.mapper.InformationRecommendMapper" >
	
	<select id="findLatestLectures" parameterType="int" resultType="com.codemoa.project.domain.information.entity.Lecture">
		SELECT * FROM lecture 
		ORDER BY reg_date DESC 
		LIMIT #{limit}
	</select>
	<select id="getLecture">
		select * from lecture where recommend_no = #{no}
	</select>

	<select id="getlectureList" parameterType="map">
		select * from lecture
		<where>
			<if test="type == 'title'">
				title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'writer'">
				user_id like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'content'">
				content1 like CONCAT('%', #{keyword}, '%')
			</if>
		</where>
		<!-- 동적 정렬 -->
		<choose>
			<when test="order == 'rating'">
				ORDER BY rating desc
			</when>
			<when test="order == 'regDate'">
				ORDER BY reg_date desc
			</when>
			<otherwise>
				ORDER BY recommend_no desc
			</otherwise>
		</choose>
	
		<!-- <choose>
			<when test="orderDir == 'asc' or orderDir == 'ASC'">
				ASC
			</when>
			<otherwise>
				DESC
			</otherwise>
		</choose>  -->
		LIMIT #{startRow}, #{num}	
	</select>
	
	<select id="getLectureCount" resultType="int" parameterType="map">
		select count(recommend_no) from lecture
		<!-- CDATA -->
		<where>
			<if test="type == 'title'">
				title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'writer'">
				user_id like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'content'">
				content1 like CONCAT('%', #{keyword}, '%')
			</if>
		</where>
	</select>

	<update id="updateLecture" parameterType="com.codemoa.project.domain.information.entity.Lecture">
		update lecture 
		set title = #{title}, subtitle = #{subtitle}, 
		category = #{category}, rating = #{rating}, 
		content1 = #{content1}, content2 = #{content2}, reg_date = SYSDATE(),
		lecture_source = #{lectureSource}, file1 = #{file1}
		where recommend_no = #{recommendNo}
	</update>
	
	<delete id="deleteLecture">
		delete from lecture where recommend_no = #{no}
	</delete>

	<insert id="addLecture" parameterType="com.codemoa.project.domain.information.entity.Lecture">
		insert into lecture (user_id, title, subtitle, category, rating, reg_date, 
			lecture_source, content1, content2, file1)
		values(#{userId}, #{title}, #{subtitle}, #{category}, #{rating}, SYSDATE(), 
			#{lectureSource}, #{content1}, #{content2}, #{file1})
	</insert> 
	
	
	<!-- 도서 영역 -->
		
	<select id="getBook">
		select * from book where book_no = #{no}
	</select>

	<select id="getBookList" parameterType="map">
		select * from book
		<where>
			<if test="type == 'title'">
				title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'writer'">
				user_id like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'content'">
				content like CONCAT('%', #{keyword}, '%')
			</if>
		</where>
		<choose>
			<when test="order == 'rating'">
				ORDER BY rating desc
			</when>
			<when test="order == 'pubDate'">
				ORDER BY pub_date desc
			</when>
			<otherwise>
				ORDER BY book_no desc
			</otherwise>
		</choose>
		LIMIT #{startRow}, #{num}	
	</select>
	
	<select id="getBookCount" resultType="int" parameterType="map">
		select count(book_no) from book
		<!-- CDATA -->
		<where>
			<if test="type == 'title'">
				title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'writer'">
				user_id like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'content'">
				content like CONCAT('%', #{keyword}, '%')
			</if>
		</where>
	</select>

	<update id="updateBook" parameterType="com.codemoa.project.domain.information.entity.Book">
		update Book
		set title = #{title}, publisher = #{publisher}, 
		pub_date = #{pubDate}, rating = #{rating}, 
		content = #{content}, reg_date = SYSDATE(),
		book_source = #{bookSource}, file1 = #{file1}, isbn = #{isbn}
		where book_no = #{bookNo}
	</update>
	
	<delete id="deleteBook">
		delete from book where book_no = #{no}
	</delete>

	<insert id="addBook" parameterType="com.codemoa.project.domain.information.entity.Book">
		insert into book (user_id, title, publisher, reg_date, pub_date, isbn, rating, total_page_num,
			book_source, content, file1)
		values( #{userId}, #{title}, #{publisher}, SYSDATE(), #{pubDate}, #{isbn}, #{rating}, #{totalPageNum},
			#{bookSource}, #{content}, #{file1})
	</insert>
	
	
	
	<!-- 공모전 영역 -->
	
	<select id="getContest">
		select * from contest where contest_no = #{no}
	</select>

	<select id="getContestList" parameterType="map">
		select * from contest
		<where>
			<if test="type == 'title'">
				title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'writer'">
				user_id like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'content'">
				content like CONCAT('%', #{keyword}, '%')
			</if>
		</where>
		<choose>
			<when test="order == 'startDate'">
				ORDER BY start_date desc
			</when>
			<when test="order == 'endDate'">
				ORDER BY end_date desc
			</when>
			<otherwise>
				ORDER BY contest_no desc
			</otherwise>
		</choose>
		LIMIT #{startRow}, #{num}	
	</select>
	
	<select id="getContestCount" resultType="int" parameterType="map">
		select count(contest_no) from contest
		<!-- CDATA -->
		<where>
			<if test="type == 'title'">
				title like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'writer'">
				user_id like CONCAT('%', #{keyword}, '%')
			</if>
			<if test="type == 'content'">
				content like CONCAT('%', #{keyword}, '%')
			</if>
		</where>
	</select>

	<update id="updateContest" parameterType="com.codemoa.project.domain.information.entity.Contest">
		update contest
		set title = #{title}, host_organization = #{hostOrganization}, 
		start_date = #{startDate}, end_date = #{endDate}, 
		content = #{content}, reg_date = SYSDATE(),
		contest_source = #{contestSource}, file1 = #{file1}
		where contest_no = #{contestNo}
	</update>
	
	<delete id="deleteContest">
		delete from contest where contest_no = #{no}
	</delete>

	<insert id="addContest" parameterType="com.codemoa.project.domain.information.entity.Contest">
		insert into contest (user_id, title, host_organization, reg_date, start_date, end_date, 
			contest_source, content, file1)
		values( #{userId}, #{title}, #{hostOrganization}, SYSDATE(), #{startDate}, #{endDate}, 
			#{contestSource}, #{content}, #{file1})
	</insert>
	
</mapper>