<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CodeMoa</title>      
    <link th:href="@{/bootstrap/bootstrap.min.css}" rel="stylesheet" >
    <link th:href="@{/css/common.css}" rel="stylesheet" >
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <link rel="icon" href="/favicon.ico">
    
    <script th:src="@{/js/jquery-3.7.1.min.js}"></script>
</head>
<body>
    <header th:replace="~{fragments/header::header}"></header>

    <main class="container my-4">
        <div layout:fragment="content"></div>
    </main>
    
    <footer th:replace="~{fragments/footer::footer}"></footer> 
    
    <script th:src="@{/bootstrap/bootstrap.bundle.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    
    <th:block layout:fragment="script"></th:block>
    
</body>
</html>