<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeloadf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
	
	<th:block layout:fragment="content">
		<div>
			<h2>작성자 : [[${lecture.userId}]]</h2>
			<h2>제목 : [[${lecture.title}]]</h2>
			<h2>부제목 : [[${lecture.subtitle}]]</h2>
			<h2>카테고리 : [[${lecture.category}]]</h2>
			<h2>별점 : [[${lecture.rating}]]</h2>
			<h2>작성일 : [[${lecture.regDate}]]</h2>
			<h2>출처 : [[${lecture.lectureSource}]]</h2>
			<pre>내용 1 : [[${lecture.content1}]]</pre>
			<pre>내용 2 : [[${lecture.content2}]]</pre>
		</div>
	</th:block>
</html>