<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeloadf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
	
	<th:block layout:fragment="content">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>  
		<th:block>
			<link th:href="@{css/information/layout.css}" rel="stylesheet" />
			<!--  <link th:href="@{css/information/main.css}" rel="stylesheet" />
			<link th:href="@{css/information/layout.css}" rel="stylesheet" /> -->
		</th:block>
		<!-- <section id="section01" style="width: 100%; margin: 0 auto;">  -->
		<section id="section01">
			<div class="layout">
				<div class="in">
					<div class="l">
						<strong>
							<i>codemoa 정보 게시판 메인</i>
							<span>정보 공유 콘텐츠</span>
						</strong>
						<b>
							"CODEMOA"
						</b>
					</div>
					<div class="r">
						<div class="boxs">
							<strong>원하는 Contents를 검색해보세요!</strong>
							<div class="searchbox">
								<input type="text" id="totalSearchText"
								placeholder="검색어를 입력해주세요.">
								<a href="#">돋보기 아이콘</a>
 							</div>
							<span id="kwList">
								<i># Content1</i>
								<i># Content2</i>
								<i># Content3</i>
								<i># Content4</i>
							</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section id="section02">
			<div class="layout">
				<div class="in">
					<div class="titles">
						<strong>contents</strong>
						<p>온라인 콘텐츠</p>
					</div>
					<div data-skin="tab">
						<ul>
							<li data-tab-btn="1">
								<a href="#"><span>전체보기</span></a>
							</li>
							<li data-tab-btn="2">
								<a th:href="@{/information/book}"><span>추천 도서</span></a>
							</li>
							<li data-tab-btn="3">
								<a th:href="@{/information/lecture}"><span>추천 강좌</span></a>
							</li>
							<li data-tab-btn="3">
								<a th:href="@{/information/contest}"><span>공모전 정보</span></a>
							</li>
							<li class="more" id="clPlust">
								<a href="#"><span>주제 더보기</span></a>
							</li>
						</ul>
						<div class="cont" id="eCombineDiv">
							<div data-tab-cont="1" class="active">
								<!-- <div class="swiper mySwiper swiper-container-horizontal swiper-container-multirow">  -->
								
								<div class="swiper mySwiper">
									<div class="swiper-wrapper">
										
										<th:block th:each="lecture: ${lList}">
											<div class="swiper-slide">
												<div class="swiper-area">
													<div class="cover">
														<div class="cover-content">
															<img th:src="@{/files/information/{img}(img=${lecture.file1})}" alt="이미지를 찾을 수 없습니다.">
															<div class="texts">
																<strong>[[${lecture.title}]]</strong>
																<div>
																	<p>등록일 : [[${lecture.regDate}]]</p>
																	<p>작성자 : [[${lecture.userId}]]</p>
																</div>
															</div>
															<a th:href="@{/information/lectureDetail(no=${lecture.recommendNo})}">
																<div class="cover-item">
																	<div class="cover-text">
																		<span class="cover-label"></span>
																		[[${lecture.subtitle}]]
																	</div>
																</div>
															</a>
														</div>
												
													</div>
												</div>
											</div>
										</th:block>
										
									</div>
									<div class="swiper-pagination swiper-pagination-progressbar">
									
									</div>
									
									<div class="btn_wrap">
										
										<div class="swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" 
											aria-disabled="false"></div>

											 
										<div class="swiper-button-next" tabindex="0" role="button" aria-label="Next slide" 
											aria-disabled="false"></div>
											
										<a href="#" class="more_button"></a>
									</div>
									
								</div>
								
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="section03">
		</section>
	</th:block>
	
</html>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>
	document.querySelector('.more_button').addEventListener('click', function(e) {
		e.preventDefault(); // 페이지 위로 스크롤되는 기본 동작 제거
	});
	
	const swiper = new Swiper(".mySwiper", {
		slidesPerView: 3, // 한 줄에 3개의 슬라이드가 보임
	  	grid: {
	    	rows: 2,
	   		fill: "row",
	  	},
	  	spaceBetween: 20,
	
	  	pagination: {
	    	el: ".swiper-pagination",
	    	type: "progressbar", // 또는 "bullets", "fraction"
	  	},
	  	navigation: {
	    	nextEl: ".swiper-button-next",
	    	prevEl: ".swiper-button-prev",
	  	},
	});
		  

</script>