<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeloadf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
	<th:block layout:fragment="content">
	
	 	<!-- content -->
		<div class="row my-5" id="global-content">
			<div class="col-10 offset-1">
				<div class="row text-center">
					<div class="col">
						<h2 class="fs-3 fw-bold">게시글 리스트</h2>
					</div>
				</div>  		
				<form name="searchForm" id="searchForm" action="boardList" 
					class="row justify-content-center my-3">
					<div class="col-auto">
						<select name="type" class="form-select">
							<option value="title">제목</option>
							<option value="writer">작성자</option>
							<option value="content">내용</option>
						</select>
					</div>
					<div class="col-4">
						<input type="text" name="keyword" class="form-control"/>
					</div>
					<div class="col-auto">
						<input type="submit" value="검 색" class="btn btn-primary"/>
					</div>
				</form>  
				<th:block th:if="${searchOption}">
					<div class="row">
						<div class="col text-center">
							"[[ ${keyword} ]]" 검색 결과
						</div>
					</div>
					<div class="row">
						<div class="col">
							<a th:href="@{bookList}" class="btn btn-outline-success">리스트</a>
						</div>
						<div class="col text-end">
							<a th:href="@{bookAdd}" class="btn btn-outline-success">글쓰기</a>
						</div>
					</div>
				</th:block>		
				<div class="row" th:if="${not searchOption}">
					<div class="col text-end">
						<a th:href="@{bookAdd}" class="btn btn-outline-success">글쓰기</a>
					</div>
				</div>
				<div class="row my-3">  			
					<div class="col">
						<table class="table">
							<thead>
								<tr class="table-dark">
									<th>NO</th>
									<th>제목</th>
									<th>작성자</th>
									<th>작성일</th>
									<!--  <th>추천수</th> -->
								</tr>
							</thead>
							
							<tbody>
								<!-- 검색요청이면서 게시글이 있는 경우 링크에 type, keyword 추가 -->
								<th:block th:if="${searchOption and not #lists.isEmpty(bList)}">
									<tr th:each="book, status: ${bList}">
										<td>[[${book.bookNo}]]</td>
										<td><a th:href="@{bookDetail(no=${book.bookNo}, pageNum=${currentPage},
											type=${type}, keyword=${keyword})}"
										style="text-decoration: none;">[[${book.title}]]</a></td>
										<td th:text="${book.userId}"></td>
										<td>[[${#dates.format(book.regDate, 'yyyy-MM-dd')}]]</td>
										<!-- <td th:text="${lecture.recommendNum}"></td> -->
									</tr>
								</th:block>
								<th:block th:if="${searchOption and #lists.isEmpty(bList)}">
									<!-- 검색요청이면서 게시글이 없는 경우 -->
									<tr>
										<!-- <td colspan="5">"[[${keyword}]]"가 포함된 게시 글이 존재하지 않습니다.</td> -->
										<td colspan="4">"[[${keyword}]]"가 포함된 게시 글이 존재하지 않습니다.</td>
									</tr>
								</th:block>
								
								<!-- 일반 게시글 요청이면서 게시글이 있는 경우 -->
								<th:block th:if="${not searchOption and not #lists.isEmpty(bList)}">
									<tr th:each="book, status: ${bList}">
										<td>[[${book.bookNo}]]</td>
										<td><a th:href="@{bookDetail(no=${book.bookNo}, pageNum=${currentPage})}"
										style="text-decoration: none;">[[${book.title}]]</a></td>
										<td th:text="${book.userId}"></td>
										<td>[[${#dates.format(book.regDate, 'yyyy-MM-dd')}]]</td>
										<!-- <td th:text="${lecture.recommendNum}"></td> -->
									</tr>
								</th:block>
								<th:block th:if="${not searchOption and #lists.isEmpty(bList)}">
									<!-- 일반 게시글요청 이면서 게시글이 없는 경우-->
									<tr>
										<!-- <td colspan="5">게시 글이 존재하지 않음</td> -->
										<td colspan="4">게시 글이 존재하지 않음</td>
									</tr>
								</th:block>
							</tbody>
							
						</table>
					</div>  			
				</div>
				<!-- 패이지 네이션 -->
				<div class="row">
					<div class="col">
						<!-- 검색 요청이면서 게시글이 존재할 경우 링크에 type, keyword -->
						<nav th:if="${searchOption and not #lists.isEmpty(bList)}" aria-label="Page navigation example">
							<ul class="pagination justify-content-center">
							
								<li class="page-item" th:if="${startPage > pageGroup}">
									<!-- /* <a class="page-link" th:href="@{boardList(pageNum=${startPage-1})}">Pre</a> */ -->
									<a class="page-link" th:href="@{|informationBookList?pageNum=${startPage-1}&type=${type}&keyword=${keyword}|}">Pre</a>
								</li>
								 
								<!-- /* <forEach var="i begin="${startPage}" end="${endPage}"> */-->
								<li th:each="num : ${#numbers.sequence(startPage, endPage)}"
									th:classappend="${num == currentPage} ? 'active'" class="page-item">
									<th:block th:if="${num != currentPage}">
										<a class="page-link" th:href="@{|contestList?pageNum=${num}&type=${type}&keyword=${keyword}|}" th:text="${num}"></a>
									</th:block>									
									<th:block th:unless="${num != currentPage}">
										<a class="page-link" th:text="${num}"></a>
									</th:block>									
									
								</li>
								
								<li class="page-item" th:if="${endPage < pageCount}">
								 	<a class="page-link" th:href="@{|bookList?pageNum=${startPage+pageGroup}&type=${type}&keyword=${keyword}|}">Next</a>
								</li>
							  
							</ul>
						</nav>
						<!-- 검색 요청이 아니면서 게시글이 존재할 경우 -->
						<nav th:if="${not searchOption and not #lists.isEmpty(bList)}" aria-label="Page navigation example">
							<ul class="pagination justify-content-center">
							
								<li class="page-item" th:if="${startPage > pageGroup}">
									<!-- /* <a class="page-link" th:href="@{boardList(pageNum=${startPage-1})}">Pre</a> */ -->
									<a class="page-link" th:href="@{|bookList?pageNum=${startPage-1}|}">Pre</a>
								</li>
								 
								<!-- /* <forEach var="i begin="${startPage}" end="${endPage}"> */-->
								<li th:each="num : ${#numbers.sequence(startPage, endPage)}"
									th:classappend="${num == currentPage} ? 'active'" class="page-item">
									<th:block th:if="${num != currentPage}">
										<a class="page-link" th:href="@{|bookList?pageNum=${num}|}" th:text="${num}"></a>
									</th:block>									
									<th:block th:unless="${num != currentPage}">
										<a class="page-link" th:text="${num}"></a>
									</th:block>									
									
								</li>
								
								<li class="page-item" th:if="${endPage < pageCount}">
								 	<a class="page-link" th:href="@{|bookList?pageNum=${startPage+pageGroup}|}">Next</a>
								</li>
							  
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>	
	</th:block>
</html>