<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
	<th:block layout:fragment="content">
  		
  		<!-- content -->
		<div class="row my-5" id="global-content">
			<div class="col">
				<div class="row text-center mb-5">
					<div class="col">
						<h2 class="fs-3 fw-bold">도서 추천글 수정하기</h2>
					</div>
				</div>  
				<form name="lectureUpdateForm" action="bookUpdate" id="updateForm" 
					class="row g-3 border-primary" method="post" enctype="multipart/form-data">
					<input type="hidden" name="bookNo" th:value="${book.bookNo}">

					<div class="col-4 offset-md-2">
						<!--  
						<label for="writer" class="form-label">글쓴이</label>
						<input type="text" class="form-control" name="writer" id="writer" 
							placeholder="작성자를 입력해 주세요" th:value="${lecture.userId}" readonly>
						-->
						<p>작성자 : [[${book.userId}]]</p>
					</div>

					<div class="col-8 offset-md-2">
						<label for="title" class="form-label">제 목</label>
						<input type="text" class="form-control" name="title"  id="title" th:value="${book.title}">
					</div>
					<div class="col-8 offset-md-2">
						<label for="title" class="form-label">출판사</label>
						<input type="text" class="form-control" name="publisher"  id="publisher" th:value="${book.publisher}">
					</div>
					<div class="col-8 offset-md-2">
						<label for="title" class="form-label">출판일</label>
						<input type="date" class="form-control" name="pubDate"  id="pubDate" th:value="${book.pubDate}">
					</div>
					<div class="col-8 offset-md-2">
						<label for="title" class="form-label">별 점</label>
						<input type="text" class="form-control" name="rating"  id="rating" th:value="${book.rating}">
					</div>
					<div class="col-8 offset-md-2">
						<label for="content" class="form-label">내 용 </label>
						<textarea class="form-control" name="content" id="content" rows="10">[[${book.content}]]</textarea>
					</div>
					<div class="col-8 offset-md-2">
						<label for="addFile" class="form-label">업로드 할 이미지</label>
						<input type="file" class="form-control" name="addFile" id="addFile" >
					</div>
					<div class="col-8 offset-md-2">
						<label for="title" class="form-label">출 처</label>
						<input type="text" class="form-control" name="bookSource"  id="bookSource" th:value="${book.bookSource}">
					</div>
					<div class="col-8 offset-md-2">
						<label for="title" class="form-label">전체 페이지 수</label>
						<input type="text" class="form-control" name="totalPageNum"  id="totalPageNum" th:value="${book.totalPageNum}">
					</div>
					<div class="col-8 offset-md-2">
						<label for="title" class="form-label">ISBN 번호</label>
						<input type="text" class="form-control" name="isbn"  id="isbn" th:value="${book.isbn}">
					</div>
					<div class="col-8 offset-md-2 text-center mt-5">
						<input type="submit" value="수정하기" class="btn btn-primary"/>
							&nbsp;&nbsp;
						<input type="button" value="목록보기" 
							onclick="location.href='bookList'" class="btn btn-primary"/>
					</div>	
				</form>
			</div>
		</div>
		
	</th:block>
</html>
		