<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">
	<th:block layout:fragment="content">
  		
  		<!-- content -->
		<div class="row my-5" id="global-content">
			<div class="col">
				<div class="row text-center mb-5">
					<div class="col">
						<h2 class="fs-3 fw-bold">강좌 추천글 수정하기</h2>
					</div>
				</div>  
				<form name="lectureUpdateForm" action="lectureUpdate" id="updateForm" 
					class="row g-3 border-primary" method="post" enctype="multipart/form-data">
					<input type="hidden" name="recommendNo" th:value="${lecture.recommendNo}">

					<div class="col-8 offset-md-2"> 
						<label for="writer" class="form-label">글쓴이</label>
						<input type="text" class="form-control" name="writer" id="writer" 
							placeholder="작성자를 입력해 주세요" th:value="${lecture.userId}" readonly>
					</div>

					<div class="col-8 offset-md-2">
						<label for="title" class="form-label">제 목</label>
						<input type="text" class="form-control" name="title"  id="title" th:value="${lecture.title}">
					</div>
					<div class="col-8 offset-md-2">
						<label for="title" class="form-label">부제목</label>
						<input type="text" class="form-control" name="subtitle"  id="subtitle" th:value="${lecture.subtitle}">
					</div>
					<div class="col-8 offset-md-2">
						<label for="title" class="form-label">카테고리</label>
						<input type="text" class="form-control" name="category"  id="category" th:value="${lecture.category}">
					</div>
					<div class="col-8 offset-md-2">
						<label for="title" class="form-label">별 점</label>
						<input type="text" class="form-control" name="rating"  id="rating" th:value="${lecture.rating}">
					</div>
					<div class="col-8 offset-md-2">
						<label for="content" class="form-label">이런걸 배울 수 있어요 :</label>
						<textarea class="form-control" name="content1" id="content" rows="10">[[${lecture.content1}]]</textarea>
					</div>
					<div class="col-8 offset-md-2">
						<label for="content" class="form-label">내 용 2</label>
						<textarea class="form-control" name="content2" id="content" rows="10">[[${lecture.content2}]]</textarea>
					</div>
					<div class="col-8 offset-md-2">
						<label for="addFile" class="form-label">업로드 할 이미지</label>
						<input type="file" class="form-control" name="addFile" id="addFile" >
					</div>
					<div class="col-8 offset-md-2">
						<label for="title" class="form-label">출 처</label>
						<input type="text" class="form-control" name="lectureSource"  id="lectureSource" th:value="${lecture.lectureSource}">
					</div>
					
					<div class="col-8 offset-md-2 text-center mt-5">
						<input type="submit" value="수정하기" class="btn btn-primary"/>
							&nbsp;&nbsp;
						<input type="button" value="목록보기" 
							onclick="location.href='lectureList'" class="btn btn-primary"/>
					</div>	
				</form>
			</div>
		</div>
		
	</th:block>
</html>
		