<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codemoa.project.domain.diary.mapper.DiaryMapper">

	<select id="getProjectList" resultType="Project">
		SELECT * FROM project WHERE user_id=#{userID} ORDER BY project_id DESC
	</select>
	
	<select id="getProjectDetail" resultType="Project">
		SELECT * FROM project WHERE project_id=#{projectId}
	</select>
	
	<select id="getProjectCheckList" resultType="ProjectChecklist">
		SELECT * FROM project_checklist WHERE project_id=#{projectId}
	</select>
	
	<select id="getProjectdiaries" resultType="ProjectDiary">
		SELECT * FROM project_diary WHERE project_id=#{projectId}
	</select>
</mapper>