<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{layouts/main_layout}">

<!-- content -->
<th:block layout:fragment="content">
	<div class="row my-5" id="global-content">
		<div class="col-10 offset-1">
			<form name="checkForm" id="checkForm">
				<input type="hidden" name="no" id="no" th:value="${board.no}" />
				<input type="hidden" name="pass" id="rPass" />
			</form>
			<div class="row text-center">
				<div class="col">
					<h2 class="fs-3 fw-bold" th:text="#{bbs.Q&Adetail.title}">Q&A</h2>
				</div>
			</div>
			<div class="row my-3">
				<div class="col">
					<table class="table table-bordered">
						<tbody>
							<tr>
								<th class="table-secondary">제목</th>
								<td colspan="3" th:text="${board.title}"></td>
							</tr>
							<tr>
								<th>작성일</th>
								<td>[[${ #dates.format(board.regDate, 'yyyy-MM-dd HH:mm:dd') }]]</td>
							</tr>
							<tr>
								<th>조회수</th>
								<td th:text="${board.readCount}"></td>
							</tr>
							<tr>
								<td colspan="4" style="white-space: pre">[[${ board.content }]]</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</th:block>
</html>