<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<div layout:fragment="content">
	<!-- 임시 css 사용중 -->
	<link rel="stylesheet" th:href="@{/css/problem.css}" />

	<div class="row">
		<div class="col">
			<div class="row text-center mt-5">
				<div class="col">
					<h2 class="fs-3 fw-bold">문제 목록</h2>
				</div>
			</div>

			<div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
				<div class="col text-end my-2">
					<button class="btn btn-primary"
						th:onclick="|location.href='@{problemWrite}'|">문제 작성</button>
				</div>
			</div>

			<div class="d-flex justify-content-between">
				<div class="d-flex gap-3">
					<div class="form-check">
						<input class="typeFilter form-check-input" type="checkbox" id="leftJAVA" value="1">
						<label class="form-check-label" for="leftJAVA">JAVA</label>
					</div>
					<div class="form-check">
						<input class="typeFilter form-check-input" type="checkbox" id="leftJavascript" value="2">
						<label class="form-check-label" for="leftJavascript">Javascript</label>
					</div>	
					<div class="form-check">
						<input class="typeFilter form-check-input" type="checkbox" id="leftPython" value="3">
						<label class="form-check-label" for="leftPython">Python</label>
					</div>
				</div>

				<div class="d-flex gap-3">
					<div class="form-check">
						<input class="difficultyFilter form-check-input" type="checkbox" id="rightHigh" value="1">
						<label class="form-check-label" for="rightHigh">상</label>
					</div>
					<div class="form-check">
						<input class="difficultyFilter form-check-input" type="checkbox" id="rightMiddle" value="2">
						<label class="form-check-label" for="rightMiddle">중</label>
					</div>
					<div class="form-check">
						<input class="difficultyFilter form-check-input" type="checkbox" id="rightLow" value="3">
						<label class="form-check-label" for="rightLow">하</label>
					</div>
				</div>
			</div>

			<table class="table text-center my-3 align-middle">
				<thead>
					<tr class="table-skyblue">
						<th>언어</th>
						<th>제목</th>
						<th>난이도</th>
						<th>출제자</th>
						<th>출제일</th>
					</tr>
				</thead>
				<tbody id="problemTableBody">
					<th:block
						th:if="${problemList != null && !#lists.isEmpty(problemList)}">
						<th:block th:each="problem : ${problemList}">
							<tr class="problems" style="cursor: pointer;"
								th:onclick="@{|location.href='problemDetail?problemId=${problem.problemId}'|}">
								<td>[[${problem.category}]]</td>
								<td>[[${problem.title}]]</td>
								<td>[[${problem.difficulty}]]</td>
								<td>[[${problem.userId}]]</td>
								<td>[[${#temporals.format(problem.regDate, 'yyyy-MM-dd')}]]</td>
							</tr>
						</th:block>
					</th:block>

					<th:block
						th:unless="${problemList != null && !#lists.isEmpty(problemList)}">
						<tr>
							<td colspan=5>문제가 존재하지 않습니다. 관리자에게 문의해주세요.</td>
						</tr>
					</th:block>
				</tbody>
			</table>
		</div>
	</div>
	
	<script th:src="@{/js/problem.js}"></script>
</div>
</html>