<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
		<!-- header -->
	<div th:fragment="header" class="row border-bottom border-primary">
		<div class="col-8">
			<div class="row">
				<div class="col">
					<ul class="nav justify-content-end">
						<li class="nav-item">
							<a class="nav-link" href="boardList2">Q&A</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="boardList">FAQ</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

</html>