<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codemoa.project.domain.user.mapper.AdminMapper">
	<select id="getUserList" resultType="UserDetailResponse">
		SELECT * FROM user ORDER BY user_id
	</select>
	
	<select id="searchUserList" resultType="UserDetailResponse">
		SELECT * FROM user 
		WHERE user_id LIKE CONCAT('%', #{keyword}, '%')
		ORDER BY user_id
	</select>
	
	<!-- 유저의 차단 기록을 가져오기 위해 Map 설정 -->
	<resultMap id="UserDetailMap" type="UserDetailResponse">
	    <id property="userId" column="user_id"/>
	    <result property="name" column="name"/>
	    <result property="nickname" column="nickname"/>
	    <result property="email" column="email"/>
	    <result property="mobile" column="mobile"/>
	    <result property="totalPoints" column="total_points"/>
	    <result property="membershipDate" column="membership_date"/>
	    <result property="unbanDate" column="unban_date"/>
	    <result property="grade" column="grade"/>
	    <result property="userPosition" column="user_position"/>
	
	    <collection property="banHistory" ofType="UserBanHistory">
	        <result property="banDate" column="ban_date"/>
	        <result property="banDays" column="ban_days"/>
	        <result property="banReason" column="ban_reason"/>
	    </collection>
	</resultMap>

	<select id="getUserDetail" resultMap="UserDetailMap">
		SELECT * FROM user u
		LEFT JOIN ban_history b ON u.user_id = b.user_id
		WHERE u.user_id=#{id}
		ORDER BY b.history_no DESC;
	</select>
	
	<update id="banUserUpdate" parameterType="UserBanRequest">
		UPDATE user SET unban_date=DATE_ADD(CURRENT_TIMESTAMP, INTERVAL #{banDays} DAY) WHERE user_id=#{userId};
	</update>
	
	<insert id="banUserInsert" parameterType="UserBanRequest">
		INSERT INTO ban_history (user_id, ban_days, ban_reason) VALUES (#{userId}, #{banDays}, #{banReason});
	</insert>
	
	<update id="unbanUser">
		UPDATE user SET unban_date=CURRENT_TIMESTAMP WHERE user_id=#{userId};
	</update>
	
	<delete id="deleteUser">
		DELETE FROM user WHERE user_id=#{userId};
	</delete>

</mapper>