<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codemoa.project.domain.user.mapper.MyPageMapper">
	<select id="checkSnsLinked">
		SELECT sns_type FROM sns_user JOIN user USING (user_id) WHERE user_id=#{userId};
	</select>
</mapper>