@charset "UTF-8";

table, th, td {
	border: 1px solid grey;
	border-collapse: collapse;
}

td {
	height: 60px;
}

.users:hover td {
	background-color: #EEFFFF;
}

.formBtns {
	width: 100%;
	height: 50px;
	padding: 10px;
}

pre {
	white-space: pre-wrap; /* 줄바꿈 허용 (기본 pre는 줄바꿈 안 됨) */
	word-wrap: break-word; /* 긴 단어도 줄바꿈 */
	overflow-x: hidden; /* 가로 스크롤 방지 */
}