<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layouts/default_layout}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>BoardService</title>
		<link th:href="@{/bootstrap/bootstrap.min.css}" rel="stylesheet" >
	</head>
	
<th:block layout:fragment="content">
	<div class="container mt-4">
		<h2>팀 모집 게시판</h2>
	

	<!-- content -->
	<div class="row my-5" id="global-content">
		<div class="col-10 offset-1">
			<div class="row text-center">
				<div class="col">
					<h2 class="fs-3 fw-bold">게시글 리스트</h2>
				</div>
			</div>
			<form name="searchForm" id="searchForm" action="teamRecruit"
					class="row justify-content-center my-3">
				<div class="col-auto">
					<select name="type" class="form-select">
						<option value="title">제목</option>
						<option value="writer">작성자</option>
						<option value="content">내용</option>
					</select>
				</div>
				<div class="col-4">
					<input type="text" name="keyword" class="form-control"/>
				</div>
				<div class="col-auto">
					<input type="submit" value="검 색" class="btn btn-primary"/>
				</div>
			</form>
			<div class="row">
				<div class="col text-end">
					<a th:href="@{addTeamRecruit}" class="btn btn-outline-success">글쓰기</a>
				</div>
			</div>
			<div class="row my-3">
				<div class="col">
					<table class="table">
						<thead>
							<tr class="table-dark">
								<th>NO</th>
								<th>제목</th>
								<th>작성자</th>
								<th>모집 분류</th>
								<th>모집 상태</th>
								<th>남은 인원</th>
								<th>작성일</th>
								<th>조회수</th>
							</tr>
						</thead>
					<tbody>
						<th:block th:if="${not #lists.isEmpty(bList)}">
							<tr th:each="teamRecruit, status: ${bList}">
								<td>[[ ${teamRecruit.recruitId} ]]</td>
								<td class="text-start">
									<a th:href="@{TeamRecruitDetail(recruitId=${teamRecruit.recruitId},pageNum=${currentPage})}" 
									class="text-decoration-none fw-bold">[[ ${teamRecruit.title} ]]
									</a>
								</td>
								<td>[[${teamRecruit.userId}]]</td>
								<td>[[${teamRecruit.recruitType}]]</td>
								<td>[[${teamRecruit.status}]]</td>
								<td>[[${teamRecruit.remainingMembers}]]명</td>
								
								<td><span th:text="${#temporals.format(teamRecruit.regDate, 'yyyy-MM-dd') }"></span></td>
								<td>[[${ teamRecruit.viewCount }]]</td>
							</tr>
						</th:block>
						<th:block th:unless="${not #lists.isEmpty(bList)}">
							<tr>
								<td colspan="8">게시글이 존재하지 않음</td>
							</tr>
						</th:block>
					</tbody>
				</table>
				<div class="row">
					<div class="col text-center">
						<nav aria-label="page Navigation">
						<ul class="pagination justify-content-center">
							<li class="page-item" th:if="${startPage > pageGroup}">
								<a class="page-link" th:href="@{|?pageNum=${startPage - 1}|}">이전</a>								
							</li>
							<li class="page-item"
								th:each="num : ${#numbers.sequence(startPage, endPagePage)}"
								th:classappend="${Num == currentPage} ? 'active'" aria-current="page">
								<th:block th:if="${num != currentPage}">
								<a th:text="${num}" class="page-link" th:href="@{|/TeamRecruitList?page=${pageNum}&keyword=${keyword}|}">[[${pageNum}]]</a>
								</th:block>
								<th:block th:unless="${num != currentPage}">
									<span th:text="${num}" class="page-link"></span>
								</th:block>								
							</li>
							<li class="page-item" th:if="${endPage < pageCount}">
								<a class="page-link" th:href="@{|/TeamRecruitList?pageNum=${startPage + PageGroup}&keyword=${keyword}|}">다음</a>
							</li>
						</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
</div>