<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/default_layout}">

<div layout:fragment="content">
	<div class="container my-5">
		<h2 class="mb-4 text-center">개발 일지 리스트</h2>

		<div class="text-end mt-4">
			<button class="btn btn-primary my-4" id="write-btn">글쓰기</button>
		</div>

		<div class="table-responsive">
			<table class="table table-white table-hover align-middle">
				<thead class="table-dark">
					<tr class="text-center">
						<th scope="col">No</th>
						<th scope="col">프로젝트 명</th>
						<th scope="col">깃 버전</th>
						<th scope="col">요약</th>
						<th scope="col">등록일</th>
					</tr>
				</thead>

				<tbody id="diary-list">
					<tr class="text-center" style="cursor: pointer;">
						<td>1</td>
						<td>My Project</td>
						<td>v1.2.3</td>
						<td>버그 수정 및 기능 개선</td>
						<td>2025-07-30</td>
					</tr>
				</tbody>
			</table>
		</div>

		<form class="row g-2 align-items-center my-3 mx-auto"
			style="max-width: 700px;">
			<div class="col-auto">
				<select class="form-select" name="searchType">
					<option value="title">제목</option>
					<option value="content">내용</option>
					<option value="titleContent">제목 + 내용</option>
				</select>
			</div>

			<div class="col-auto flex-grow-1">
				<input type="text" class="form-control" name="keyword"
					placeholder="검색어를 입력하세요" />
			</div>

			<div class="col-auto">
				<button type="submit" class="btn btn-outline-primary">검색</button>
			</div>
		</form>
	</div>
</div>
</html>
