@charset "utf-8";
html{height:100%; height: 100%; overflow: hidden;}
body{position: relative; width: 100%; height: 100%;}
body.action{overflow:hidden;height: 100%;}
*{line-height: 1.3;}
#wrap{overflow-x:hidden; position:relative; width: 100%; height:100%;}

.layout{width:100%; max-width: 1540px; margin:0 auto; padding: 0 1.25rem;}

/***헤더***/
#header{position: relative; z-index: 10; width: 100%; height: 10em; font-size: 10px;}
/* 로고 */
#header h1{position: absolute; top: 2.8em; left: 50%; z-index: 999; margin-left: -75em; font-size: 1em;}
#header h1 a{
	display: block; width: 20em; height: 4.9em; background: url(../images/common/logo.svg) no-repeat center center; background-size: 100% auto; text-decoration: none;
	-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
#header h1 a span{display: block; text-indent: -9999px;}
/* 전체메뉴 */
#header .toputil_control{position: absolute; top: 3.9em; right: 50%; z-index: 71; display: flex; margin-right: -75em;}
#header .toputil_control >a{margin-left: 2.375rem;}
#header .toputil_control >a:first-child{margin-left: 0;}
#header .toputil_control >a.login{position: relative; font-size: 1.0625rem; font-weight: 600; color: #000;}
#header .toputil_control >a.login:before{content: ""; display: inline-block; width: 1.125rem; height: 1.125rem; margin-right: 0.25rem; background: url(../images/common/i_login.svg) no-repeat center center; background-size: 100% auto; vertical-align: middle;}
#header .toputil_control >a.search{display: none; width: 2.5em; height: 2.5em; text-indent: -9999px; background: url(../images/common/i_search.svg) no-repeat center center; background-size: 100% auto;}
#header .toputil_control >a.allmenu_btn_open{display: block; width: 2.5em; height: 2.5em; text-indent: -9999px; background: url(../images/common/i_allmenu.svg) no-repeat center center; background-size: 100% auto;}

#slide_map{
    display: block; opacity: 0; visibility: hidden; overflow: hidden; position: fixed; top: 0; right: 0; z-index: 0; width: 100%; height: 100%; box-sizing: border-box;
    -webkit-transition: all 0.5s ease; transition: all 0.5s ease;
}
.fixed #slide_map{opacity: 1; visibility: visible; z-index: 999;}
#slide_map:after{content: ""; display: block; clear: both;}
#slide_map .inner{display: none; position: relative; width: 100%; height: 100%; background-color: #fff; box-sizing: border-box;}
.fixed #slide_map .inner{display: block; position: relative; }


/* Gnb */
#header #nav{overflow: hidden; position: relative; z-index: 51; width: 100%; height: auto;}
#header #nav #blind{opacity: 1; position: absolute; top: 100px; left: 0; z-index: 1; width: 100%; background-color: #fff; box-sizing: border-box;}
#header #nav #gnb{
    position: relative; z-index: 10; width: auto; max-width: 1540px; height: 100px; margin: 0 auto; padding: 0 270px; text-align: center; box-sizing: border-box;   
    -webkit-transition: all 0.3s ease; transition: all 0.3s ease;
}
#header #nav #gnb >ul{display: flex; justify-content: center; position: relative;}
#header #nav #gnb >ul >li{position: relative; width: auto;}
#header #nav #gnb >ul >li:nth-child(5){display: none;}
#header #nav #gnb >ul >li >a{
	display: inline-flex; align-items: center; position: relative; height: 100px; padding: 0 40px; text-decoration: none; text-align: center; color: #111; font-size: 20px; line-height: 100px; font-weight: 600;
    -webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
#header #nav #gnb >ul >li >a span{display: inline-block; position: relative;}
#header #nav #gnb >ul >li >a:hover span:before,
#header #nav #gnb >ul >li >a.on span:before{
    opacity: 1;
    -webkit-transform: translate(.5rem,-1rem) scale(1); transform: translate(.5rem,-1rem) scale(1);
}
#header #nav #gnb >ul >li >ul{
	display: none; position: absolute; top: 83px; left: 50%; width: 100%; min-width: 160px; padding: 20px 12px; background-color: #fff;   box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 1.15);
	-webkit-transform: translateX(-50%); transform: translateX(-50%);
	border-radius: 4px; /* 모서리를 둥글게 만듭니다. */	
	z-index: 1000;
}
#header #nav #gnb >ul >li >ul >li >div >a:hover{color: #413C7F;}
#header #nav #gnb >ul >li >ul.on{display: block; width: 100%;}
#header #nav #gnb >ul >li >ul >li{ margin-bottom: 20px; }
#header #nav #gnb >ul >li >ul >li:not(:first-child){margin-top: 8px;}
#header #nav #gnb > ul > li > ul li:last-child {
  margin-bottom: 0; /* 마지막 항목은 여백을 주지 않습니다. */
}

#header #nav #gnb >ul >li >ul >li >a{display:inline-block; position: relative; padding-bottom: 5px; color: #111; font-size: 1.125rem;}

#header #nav #gnb >ul >li >ul >li >div >a{display:inline-block; position: relative; padding-bottom: 5px; color: #111; font-size: 1.125rem;font-weight: 500;}

/* 사이드 검색필터 */
#search_filter{
	position: fixed; top: 0; left: -920px; z-index: 999; width: 100%; max-width: 1000px; height: 100%; background-color: #fff;
	-webkit-transition: all 0.4s linear; transition: all 0.4s linear;
}
#search_filter.open{left: 0;}
#search_filter .s_btn{
	position: absolute; top: 0; right: 0; display: block; width: 80px; height: 100%; background: linear-gradient(0deg, #423E80 0%, #AD7AA3 100%);
	-webkit-transition: all 0.4s linear; transition: all 0.4s linear;
}
#search_filter.open .s_btn{width: 60px; background: #F6F5F8; border-left: 1px solid #D9D9D9;}
#search_filter .s_btn span{
	display: flex; align-items: center; justify-content: space-between; position: absolute; top: 50%; left: 50%; width: 8rem; font-size: 1.125rem; color: #fff; 
	-webkit-transform: translate(-50%, -50%) rotate(-90deg); transform: translate(-50%, -50%) rotate(-90deg);
	-webkit-transition: all 0.4s linear; transition: all 0.4s linear;
}
#search_filter.open .s_btn span{color: #000; font-weight: 600;}
#search_filter .s_btn span:before{
	content: ""; display: inline-block; width: 1.5rem; height: 1.5rem; background-image: url(../images/common/search_img04.svg); background-repeat: no-repeat; background-position: center center; background-size: 100% auto; border-radius: 50%;
	transform: rotate(180deg);
	-webkit-transition: background-image 0.4s linear; transition: background-image 0.4s linear;
}
#search_filter.open .s_btn span:before{
	background-image: url(../images/common/search_img03.svg);
	-webkit-transform: rotate(0deg); transform: rotate(0deg);
}
#search_filter .s_btn span:after{
	content: ""; display: inline-block; width: 2.5rem; height: 2.5rem; background-color: #423D80; background-image: url(../images/common/search_img01.svg); background-repeat: no-repeat; background-position: center center; background-size: 100% auto; border-radius: 50%;
	transform: rotate(180deg);
	-webkit-transition: all 0.4s linear; transition: all 0.4s linear;
}
#search_filter.open .s_btn span:after{background-color: transparent; background-image: url(../images/common/search_img02.svg);}
#search_filter .in{width: calc(100% - 80px); height: 100%; padding: 2.5rem 3.125rem 1rem; box-sizing: border-box;}
#search_filter.open .in{width: calc(100% - 60px);}
#search_filter .in .t{}
#search_filter .in .t a{display: inline-block; width: 16.3125rem; height: 3.0625rem; text-indent: -9999px; background: url(../images/common/logo.svg) no-repeat center center; background-size: 100% auto;}
#search_filter .in .b{overflow-y: auto; height: calc(100% - 2.5rem - 2.5rem - 3.0625rem); margin-top: 2.5rem;}

#search_filter .in .b::-webkit-scrollbar {width: 7px; border-radius: 10px;}
#search_filter .in .b::-webkit-scrollbar-thumb {background-color: #c1c1c1; border-radius: 10px; background-clip: padding-box;}
#search_filter .in .b::-webkit-scrollbar-track {background-color: #f1f1f1; border-radius: 10px;}



#search_filter .in .b [class*="line_"]{padding: 2.375rem 1.375rem 2.75rem; border-bottom: 1px solid #d9d9d9;}
#search_filter .in .b [class*="line_"] .titles{font-size: 1.5rem; font-weight: 700; letter-spacing: -0.48px; color: #000;}
#search_filter .in .b [class*="line_"] .titles + div{margin-top: 1rem;}
#search_filter .in .b [class*="line_"] .titles + div [data-skin="check"]{display: inline-block; min-width: 5rem; margin-top: 0.625rem; margin-right: 0.75rem; padding-left: 0; text-align: center; }
#search_filter .in .b [class*="line_"] .titles + div [data-skin="check"]:last-child{margin-right: 0;}
#search_filter .in .b [class*="line_"] .titles + div [data-skin="check"] input{position: absolute; top: -9999px; left: -9999px;}
#search_filter .in .b [class*="line_"] .titles + div [data-skin="check"] input + label{
	display: block; width: 100%; padding: 0.563rem 1.25rem; font-size: 1rem; color: #666; line-height: 1; background-color: #fff; border: 1px solid #E9E9E9; border-radius: 5px; cursor: pointer;
	-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
#search_filter .in .b [class*="line_"] .titles + div [data-skin="check"] label:hover,
#search_filter .in .b [class*="line_"] .titles + div [data-skin="check"] input:checked + label{background-color: #413C7F; border-color: #413C7F; color: #fff;}
#search_filter .in .b .line_1{padding: 0 0 3.625rem;}
#search_filter .in .b .line_1 .boxs{position: relative; width: 100%; max-width: 34.375rem; margin: 0 auto;}
#search_filter .in .b .line_1 .boxs strong{display: block; color: #000; font-size: 1.5rem; font-weight: 600; text-align: center;}
#search_filter .in .b .line_1 .boxs .searchbox{display: flex; overflow: hidden; flex-wrap: wrap; align-items: flex-start; justify-content: space-between; position: relative; margin-top: 1.5rem;}
#search_filter .in .b .line_1 .boxs .searchbox input{width: calc(100% - 3.4375rem); padding: 0.875rem 1.25rem; font-size: 1rem; color: #000; border: 2px solid #413C7F; border-right: 0; background-color: transparent; border-radius: 10px 0 0 10px; }
#search_filter .in .b .line_1 .boxs .searchbox input::placeholder{color: #A4A4A4; font-weight: 400; font-size: 1rem;}
#search_filter .in .b .line_1 .boxs .searchbox a{display: block; position: absolute; top: 0; right: 0; width: 3.4375rem; height: 100%; background-color: #413C7F; border-radius: 0 10px 10px 0; text-indent: -9999px;}
#search_filter .in .b .line_1 .boxs .searchbox a:before{content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../images/main/sec01_img01.svg) no-repeat center center; background-size: 1.5rem auto;}
#search_filter .in .b .line_1 .boxs span{display: block; margin-top: 1.25rem;}
#search_filter .in .b .line_1 .boxs span i{display: inline-block; margin-right: 1.5625rem; font-style: normal; color: #000; font-weight: 500;}
#search_filter .in .b .line_1 .boxs span i:last-of-type{margin-right: 0;}
#search_filter .in .b .btn_wrap{display: flex; flex-wrap: nowrap; align-items: center; justify-content: center; margin-top: 3.125rem;}
#search_filter .in .b .btn_wrap >a{
	display: block; width: calc((100% - 2rem) / 2); max-width: 13.75rem; padding: 1rem 1rem; text-align: center; border-radius: 10px; border: 1px solid #413C7F; color: #000; font-weight: 500;
	-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
#search_filter .in .b .btn_wrap >a:hover{background-color: #413C7F; color: #fff;}
#search_filter .in .b .btn_wrap >a:first-child{background-color: #413C7F; color: #fff;}
#search_filter .in .b .btn_wrap >a:first-child:hover{background-color: #fff; color: #000;}
#search_filter .in .b .btn_wrap >a:not(:last-child){margin-right: 2rem;}


/* 업무 메뉴 검색필터 */
#work_search_filter{
/* 	position: fixed; top: 0; left: -920px; z-index: 999; width: 100%; max-width: 1000px; height: 100%; background-color: #fff;
	-webkit-transition: all 0.4s linear; transition: all 0.4s linear; */
}
#work_search_filter.open{left: 0;}
#work_search_filter .s_btn{
	position: absolute; top: 0; right: 0; display: block; width: 80px; height: 100%; background: linear-gradient(0deg, #423E80 0%, #AD7AA3 100%);
	-webkit-transition: all 0.4s linear; transition: all 0.4s linear;
}
#work_search_filter.open .s_btn{width: 60px; background: #F6F5F8; border-left: 1px solid #D9D9D9;}
#work_search_filter .s_btn span{
	display: flex; align-items: center; justify-content: space-between; position: absolute; top: 50%; left: 50%; width: 8rem; font-size: 1.125rem; color: #fff; 
	-webkit-transform: translate(-50%, -50%) rotate(-90deg); transform: translate(-50%, -50%) rotate(-90deg);
	-webkit-transition: all 0.4s linear; transition: all 0.4s linear;
}
#work_search_filter.open .s_btn span{color: #000; font-weight: 600;}
#work_search_filter .s_btn span:before{
	content: ""; display: inline-block; width: 1.5rem; height: 1.5rem; background-image: url(../images/common/search_img04.svg); background-repeat: no-repeat; background-position: center center; background-size: 100% auto; border-radius: 50%;
	transform: rotate(180deg);
	-webkit-transition: background-image 0.4s linear; transition: background-image 0.4s linear;
}
#work_search_filter.open .s_btn span:before{
	background-image: url(../images/common/search_img03.svg);
	-webkit-transform: rotate(0deg); transform: rotate(0deg);
}
#work_search_filter .s_btn span:after{
	content: ""; display: inline-block; width: 2.5rem; height: 2.5rem; background-color: #423D80; background-image: url(../images/common/search_img01.svg); background-repeat: no-repeat; background-position: center center; background-size: 100% auto; border-radius: 50%;
	transform: rotate(180deg);
	-webkit-transition: all 0.4s linear; transition: all 0.4s linear;
}
#work_search_filter.open .s_btn span:after{background-color: transparent; background-image: url(../images/common/search_img02.svg);}
#work_search_filter .in{width: 100%; height: 100%; padding: 1rem 0.125rem 1rem; box-sizing: border-box;}
#work_search_filter.open .in{width: calc(100% - 60px);}
#work_search_filter .in .t{}
#work_search_filter .in .t a{display: inline-block; width: 11.3125rem; height: 3.0625rem; text-indent: -9999px; background: url(../images/common/logo.svg) no-repeat center center; background-size: 100% auto;}
#work_search_filter .in .b{overflow-y: auto; height: calc(100% - 2.5rem - 2.5rem - 3.0625rem); }

#work_search_filter .in .b::-webkit-scrollbar {width: 7px; border-radius: 10px;}
#work_search_filter .in .b::-webkit-scrollbar-thumb {background-color: #c1c1c1; border-radius: 10px; background-clip: padding-box;}
#work_search_filter .in .b::-webkit-scrollbar-track {background-color: #f1f1f1; border-radius: 10px;}



#work_search_filter .in .b [class*="line_"]{padding: 1rem 1rem 1rem; border-bottom: 1px solid #d9d9d9;display:flex;align-items:center;}
#work_search_filter .in .b [class*="line_"] .titles{font-size: 1.1rem; font-weight: 700; letter-spacing: -0.48px; color: #000;}

#work_search_filter .in .b [class*="line_"]  .item-area [data-skin="check"]{display: inline-block; min-width: 5rem;margin-right: 0.35rem; padding-left: 0; text-align: center; }
#work_search_filter .in .b [class*="line_"] .item-area [data-skin="check"]:last-child{margin-right: 0;}
#work_search_filter .in .b [class*="line_"]  .item-area  [data-skin="check"] input{position: absolute; top: -9999px; left: -9999px;}
#work_search_filter .in .b [class*="line_"]  .item-area  [data-skin="check"] input + label{
	display: block; width: 100%; padding: 0.563rem 0.5rem; font-size: 1rem; color: #666; line-height: 1; background-color: #fff; border: 1px solid #E9E9E9; border-radius: 5px; cursor: pointer;
	-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
#work_search_filter .in .b [class*="line_"]  .item-area   [data-skin="check"] label:hover,
#work_search_filter .in .b [class*="line_"]  .item-area  [data-skin="check"] input:checked + label{background-color: #413C7F; border-color: #413C7F; color: #fff;}

#work_search_filter .in .b [class*="line_"] .item-tit { width: 100px;padding: 5px 5px; flex-shrink: 0;}
#work_search_filter .in .b [class*="line_"] .item-area {width: 100%;    padding: 0 20px 0 10px;}

#work_search_filter .in .b .line_1{padding: 0 0 3.625rem;}
#work_search_filter .in .b .line_1 .boxs{position: relative; width: 100%; max-width: 34.375rem; margin: 0 auto;}
#work_search_filter .in .b .line_1 .boxs strong{display: block; color: #000; font-size: 1.5rem; font-weight: 600; text-align: center;}
#work_search_filter .in .b .line_1 .boxs .searchbox{display: flex; overflow: hidden; flex-wrap: wrap; align-items: flex-start; justify-content: space-between; position: relative; margin-top: 1.5rem;}
#work_search_filter .in .b .line_1 .boxs .searchbox input{width: calc(100% - 3.4375rem); padding: 0.875rem 1.25rem; font-size: 1rem; color: #000; border: 2px solid #413C7F; border-right: 0; background-color: transparent; border-radius: 10px 0 0 10px; }
#work_search_filter .in .b .line_1 .boxs .searchbox input::placeholder{color: #A4A4A4; font-weight: 400; font-size: 1rem;}
#work_search_filter .in .b .line_1 .boxs .searchbox a{display: block; position: absolute; top: 0; right: 0; width: 3.4375rem; height: 100%; background-color: #413C7F; border-radius: 0 10px 10px 0; text-indent: -9999px;}
#work_search_filter .in .b .line_1 .boxs .searchbox a:before{content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../images/main/sec01_img01.svg) no-repeat center center; background-size: 1.5rem auto;}
#work_search_filter .in .b .line_1 .boxs span{display: block; margin-top: 1.25rem;}
#work_search_filter .in .b .line_1 .boxs span i{display: inline-block; margin-right: 1.5625rem; font-style: normal; color: #000; font-weight: 500;}
#work_search_filter .in .b .line_1 .boxs span i:last-of-type{margin-right: 0;}
#work_search_filter .in .b .btn_wrap{display: flex; flex-wrap: nowrap; align-items: center; justify-content: center; margin-top: 3.125rem;}
#work_search_filter .in .b .btn_wrap >a{
	display: block; width: calc((100% - 2rem) / 2); max-width: 13.75rem; padding: 1rem 1rem; text-align: center; border-radius: 10px; border: 1px solid #413C7F; color: #000; font-weight: 500;
	-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
#work_search_filter .in .b .btn_wrap >a:hover{background-color: #413C7F; color: #fff;}
#work_search_filter .in .b .btn_wrap >a:first-child{background-color: #413C7F; color: #fff;}
#work_search_filter .in .b .btn_wrap >a:first-child:hover{background-color: #fff; color: #000;}
#work_search_filter .in .b .btn_wrap >a:not(:last-child){margin-right: 2rem;}

/***서브 컨테이너***/
#container{}
#container #spot{
	position: relative; height: 18.125rem;
	-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
#container #spot .layout{height: 100%;}
#container #spot .layout .in{
	display: flex; flex-wrap: wrap; align-items: center; position: relative; height: 100%; padding-top: 3.75rem;
	-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
#container #spot .layout .in .tit{
	display: block; position: relative; width: 100%; padding-bottom: 1rem; text-align: center; font-size: 2.5rem; font-weight: 600; color: #000;
	-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
#container #spot .layout .in .tit:before{
	content: ""; display: block; position: absolute; bottom: 0; left: 50%; width: 1.875rem; height: 0.3125rem; background-color: #413C7F;
	-webkit-transform: translateX(-50%); transform: translateX(-50%);
}
#container #spot .layout .in .t_wrap{display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; position: absolute; top: 0; left: 0; width: 100%; background-color: #413C7F;}
#container #spot .layout .in .t_wrap:before{content: ""; display: block; position: absolute; top: 0; right: 100%; width: 1000vw; height: 100%; background-color: #413C7F;}
#container #spot .layout .in .t_wrap:after{content: ""; display: block; position: absolute; top: 0; left: 100%; width: 1000vw; height: 100%; background-color: #413C7F;}
#container #spot .layout .in .t_wrap #lnb{}
#container #spot .layout .in .t_wrap #lnb >ul{display: table; table-layout: fixed; height: 3.75rem;}
#container #spot .layout .in .t_wrap #lnb >ul >li{
	display: table-cell; height: 100%; width: 15.625rem; vertical-align: middle;
	-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
#container #spot .layout .in .t_wrap #lnb >ul >li >a{
	display: flex; align-items: center; justify-content: center; height: 100%; padding: 0.5rem 1rem; text-align: center; color: #fff; background-color: transparent;
	-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
#container #spot .layout .in .t_wrap #lnb >ul >li >a:hover,
#container #spot .layout .in .t_wrap #lnb >ul >li.active >a{background-color: rgba(0, 0, 0, 0.30);}
#container #spot .layout .in .t_wrap .navi{display: flex; flex-wrap: wrap; align-items: center;}
#container #spot .layout .in .t_wrap .navi li{
	margin-left: 0.25rem; line-height: 3.2rem;
	-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
#container #spot .layout .in .t_wrap .navi li:first-child{margin-left: 0;}
#container #spot .layout .in .t_wrap .navi li:not(:first-child):before{
	content: ""; display: inline-block; width: 1.5rem; height: 1.5rem; margin-right: 0.25rem; vertical-align: middle; background: url(../images/common/i_navi02.svg) no-repeat center center; background-size: 100% auto;
	-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
#container #spot .layout .in .t_wrap .navi li a{
	display: inline-block; font-size: 1rem; line-height: 1.5rem; font-weight: 400; color: #fff;
	-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
#container #spot .layout .in .t_wrap .navi li a:hover{text-decoration: underline; text-underline-position: under;}
#container #spot .layout .in .t_wrap .navi li:first-child a{
	width: 1.5rem; height: 1.5rem; text-indent: -9999px; background: url(../images/common/i_navi.svg) no-repeat center center; background-size: 100% auto;
	-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
#container #content{
	padding-bottom: 6.25rem;
	-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
#container #content #txts{position: relative; }

/***푸터***/
#footer{position: relative; background-color: #333; z-index: 100;}
#footer .in{padding-bottom: 2.1875rem; color: #fff; font-weight: 300;}
#footer .in .t{position: relative; margin-bottom: 2rem; padding: 1.23rem 0;}
#footer .in .t:before{
	content: ""; display: block; position: absolute; bottom: 0; left: 50%; width: 100vw; height: 1px; background-color: #494949;
	-webkit-transform: translateX(-50%); transform: translateX(-50%);
}
#footer .in .t >ul{display: flex; flex-wrap: wrap;}
#footer .in .t >ul >li{position: relative; }
#footer .in .t >ul >li:not(:last-child){margin-right: 0.875rem; padding-right: 1rem;}
#footer .in .t >ul >li:not(:last-child):before{content: ""; display: block; position: absolute; top: 0.2rem;; right: 0; width: 2px; height: 0.875rem; background-color: #fff;}
#footer .in .t >ul >li >a{color: #fff;}
#footer .in .t >ul >li:first-child >a{font-weight: 500;}
#footer .in .t .relate_site{display: block; position: absolute; top: 0; right: 0; width: 17.5rem; border-left: 1px solid #494949; border-right: 1px solid #494949;}
#footer .in .t .relate_site >a{display: block; position: relative; width: 100%; padding: 1.23rem 1.4375rem; color: #fff;}
#footer .in .t .relate_site >a:before{
	content: ""; display: block; position: absolute; top: 1.3rem; right: 0.6875rem; width: 1rem; height: 1rem; background: url(../images/common/i_slidedown.svg) no-repeat center center; background-size: 100% auto;
	-webkit-transform: rotate(0); transform: rotate(0);
}
#footer .in .t .relate_site >a.on:before{
	-webkit-transform: rotate(180deg); transform: rotate(180deg);
}
#footer .in .t .relate_site >ul{overflow: auto; display: none; position: absolute; left: -1px; bottom: 100%; width: calc(100% + 2px); height: 250px; padding: 0; background-color: #333; border: 1px solid #494949;}
#footer .in .t .relate_site >ul >li{padding: 0.75rem 1.4375rem;}
#footer .in .t .relate_site >ul >li:not(:first-child){border-top: 1px solid #494949;}
#footer .in .t .relate_site >ul >li >a{color: #fff;}
#footer .in .addr{}
#footer .in .tel{margin-top: 0.4rem;}
#footer .in .tel a{color: inherit; font-weight: 500;}
#footer .in .copy{margin-top: 1.125rem; color: #999;}

@media screen and (max-width: 1720px){
	#header #nav #gnb{width: calc(100% - 80px); margin-left: 80px;}
	#header h1{left: 10em; margin-left: 0;}
	
	.layout{width: calc(100% - 80px); margin-left: 80px;}
}
@media screen and (max-width: 1540px){
	/*#header h1{left: 2em; margin-left: 0;}*/
	#header .toputil_control{right: 2em; margin-right: 0;}
}
@media screen and (max-width: 1400px){
	#header #nav #gnb >ul >li >a{padding: 0 35px;}
	#container #spot .layout .in .t_wrap #lnb >ul >li{width: 13rem;}
}
@media screen and (max-width: 1300px){
	#header #nav #gnb >ul >li >a{padding: 0 27px;}
}
@media screen and (max-width: 1200px){
	#header #nav #gnb >ul >li >a{font-size: 18px;}
	#header #nav #gnb >ul >li >ul >li >a{font-size: 1rem;}
	
	
}
@media screen and (min-width: 1025px){
	/* 슬라이드맵 */
	#slide_map .inner .layout{overflow: hidden; width: 100%; height: 100%;}
	#slide_map .inner .layout > .binds{position: relative;display: flex;width: 100%;height: 100%;flex-wrap: wrap; align-items: flex-start;}
	#slide_map .inner .layout > .binds .top_box{display: flex;flex-wrap: wrap;align-items: center;position: relative;/* top: 0; *//* left: 0; */width: 100%;height: 100px;}
	#slide_map .inner .layout > .binds .top_box a{display: block; width: 14.9375rem; height: 2.75rem;     background: url(../images/common/logo.png) no-repeat center center; background-size: 100% auto; text-decoration: none; text-indent: -9999px;}

	#slide_map .inner .layout > .binds >ul{display: flex; flex-wrap: wrap; justify-content: space-between; overflow: auto; width: 100%; height: auto; margin-top: -100px;}
	#slide_map .inner .layout > .binds >ul >li{width: calc((100% - 16%) / 4); }
	/* #slide_map .inner .layout > .binds >ul >li:last-child{display: none;} */
	#slide_map .inner .layout > .binds >ul >li >a{display: block; font-size: 1.375rem; text-align: center; color: #000; font-weight: 700;}
	#slide_map .inner .layout > .binds >ul >li >ul{overflow: auto !important; display: block!important; height: auto !important; margin-top: 1.625rem !important;  padding-top: 2rem !important; text-align: center; border-top: 2px solid #2E2A59;}
	#slide_map .inner .layout > .binds >ul >li >ul >li{}
	#slide_map .inner .layout > .binds >ul >li >ul >li:not(:first-child){margin-top: 2rem;}
	#slide_map .inner .layout > .binds >ul >li >ul >li >a{display: inline-block; position: relative; color: #2E2A59; font-size: 1.125rem; font-weight: 500;}
	#slide_map .inner .layout > .binds >ul >li >ul >li >a:hover{}
	#slide_map .inner .layout > .binds >ul >li >ul >li >a:before{
		content:""; opacity:0; position:absolute; bottom:0; left:50%; z-index: 0; width:0%; height: 0.625rem; background: rgba(172, 121, 163, 0.50);
		-webkit-transition:all 0.2s linear; transition:all 0.2s linear;
	}
	#slide_map .inner .layout > .binds >ul >li >ul >li >a:hover:before{opacity:1; left:0%; width: 100%;}
	#slide_map .inner .layout > .binds >ul >li >ul >li >a span{display: block; position: relative; padding: 0 5px;}
	
	
	
	
	#slide_map .inner .layout > .binds .btn_wrap{position: absolute; top: 1.8rem; right: 0; width: 2.1875rem; height: 2.1875rem; margin-top: 0;}
	#slide_map .inner .layout > .binds .btn_wrap .login{display: none;}
	#slide_map .inner .layout > .binds .btn_wrap .close{
		display: block; overflow: hidden; width: 100%; height: 100%;
		-webkit-transform: rotate(0); transform: rotate(0);
		-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
	}
	#slide_map .inner .layout > .binds .btn_wrap .close:hover{
		-webkit-transform: rotate(180deg); transform: rotate(180deg);
	}
	#slide_map .inner .layout > .binds .btn_wrap .close span{
		display: block; width: 100%; height: 100%; text-indent: -9999px;
		-webkit-transform: rotate(45deg); transform: rotate(45deg);
	}
	#slide_map .inner .layout > .binds .btn_wrap .close span:before{
		content: ""; display: block; position: absolute; top: 50%; left: 50%; width: 2.2rem; height: 3px; background-color: #000;
		-webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%);
	}
	#slide_map .inner .layout > .binds .btn_wrap .close span:after{
		content: ""; display: block; position: absolute; top: 50%; left: 50%; width: 3px; height: 2.2rem; background-color: #000;
		-webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%);
	}
}
@media screen and (max-width: 1024px){
	.layout{width: 100%; margin-left: 0;}
	
	#header{font-size: 9px;}
	#header{height: 8em;}
	#header h1{top: 1.6em; left: 2em;}
	#header h1 a{width: 17.2em; height: 4.66em;}
	#header #nav{display: none;}
	#header .toputil_control{top: 2.8em;}
	#header .toputil_control >a{margin-left: 1.8rem;}
	#header .toputil_control >a.login{display: none;}
	#header .toputil_control >a.search{display: block;}
	
	/*사이트맵*/
	#slide_map{text-align: right;}
	#slide_map:before{content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5);}
	#slide_map .inner{max-width: 400px; padding: 0; text-align: left; background-color: transparent; }
	.fixed #slide_map .inner{display: inline-block; }
	
	#slide_map .inner .layout{height: 100%; padding: 0; background-color: #fff;}
	#slide_map .inner .layout > .binds{overflow: hidden; height: 100%;}
	#slide_map .inner .layout > .binds .top_box{display: flex; flex-wrap: wrap; align-items: center; height: 4.8rem; padding: 0 9rem 0 1.34rem; background: linear-gradient(94deg, #413C7F 0.62%, #60679D 41.51%, #B07AA3 100%);}
	#slide_map .inner .layout > .binds .top_box a{display: block; width: 10.32rem; height: 2.796rem;     background: url(../images/common/logo_w.svg) no-repeat center center; background-size: 100% auto; text-decoration: none; text-indent: -9999px;}
	#slide_map .inner .layout > .binds>ul{position:relative; z-index:10; height: 100%; padding: 0.67rem 0;}
	#slide_map .inner .layout > .binds >ul >li{float: none; width: 100%; height: auto; padding: 0; border-bottom: 1px solid #e9e9e9;}
	#slide_map .inner .layout > .binds >ul >li:last-child{border-bottom: none;}
	#slide_map .inner .layout > .binds >ul >li:before,
	#slide_map .inner .layout > .binds >ul >li:first-child:after{display: none;}
	#slide_map .inner .layout > .binds >ul >li >a{display: block; position: relative; padding: 1.14rem 3.34rem 1.14rem 2rem; font-size: 1.125rem; color: #000; font-weight: 700;}
	#slide_map .inner .layout > .binds >ul >li >a.on{color: #413C7F;}
	#slide_map .inner .layout > .binds >ul >li >a.child:before,
	#slide_map .inner .layout > .binds >ul >li >a.child:after{
		content: ""; display: block; position: absolute; top: 1.7rem; right: 1.67rem; width: 0.94rem; height: 2px; background-color: #666;
		-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
	}
	#slide_map .inner .layout > .binds >ul >li >a.child:after {
		-webkit-transform: rotate(90deg); transform: rotate(90deg);
	}
	#slide_map .inner .layout > .binds >ul >li >a.child.on:before,
	#slide_map .inner .layout > .binds >ul >li >a.child.on:after{background-color: #413C7F;}
	#slide_map .inner .layout > .binds >ul >li >a.child.on:after{
		-webkit-transform: rotate(0); transform: rotate(0);
	}
	#slide_map .inner .layout > .binds >ul >li >ul{display: none; margin-top: 0; padding: 1.25rem 2rem; border-top: 1px solid #e9e9e9; background-color: #F9F9F9;}
	#slide_map .inner .layout > .binds >ul >li >ul >li{margin-top: 0.5rem;}
	#slide_map .inner .layout > .binds >ul >li >ul >li:first-child{margin-top: 0; border-top:0;}
	#slide_map .inner .layout > .binds >ul >li >ul >li >a{position: relative; padding-left: 0.75rem; color: #000; font-size: 1rem; font-weight: 500;}
	#slide_map .inner .layout > .binds >ul >li >ul >li >a:before{content: ""; position: absolute; top: 0.55rem; left: 0; width: 5px; height: 1px; background-color: #000;}
	#slide_map .inner .layout > .binds .btn_wrap{display: flex; flex-wrap: wrap; position: absolute; top: 1.625rem; right: 1.3125rem; width: auto; height: auto; margin-top: 0;}
	#slide_map .inner .layout > .binds .btn_wrap .login{position: relative; margin-right: 1rem; font-size: 1.0625rem; font-weight: 400; color: #fff;}
	#slide_map .inner .layout > .binds .btn_wrap .close{
		display: block; position: relative; width: 1.54rem; height: 1.54rem;
		-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
	}
	#slide_map .inner .layout > .binds .btn_wrap .close:before{
		content: ""; display: block; position: absolute; top: 50%; left: 50%; width: 100%; height: 100%; background-color: #fff; border-radius: 50%; 
		-webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%);
	}
	#slide_map .inner .layout > .binds .btn_wrap .close span{
		display: block; width: 100%; height: 100%; text-indent: -9999px;
		-webkit-transform: rotate(45deg); transform: rotate(45deg);
		
	}
	#slide_map .inner .layout > .binds .btn_wrap .close span:before{
		content: ""; display: block; position: absolute; top: 50%; left: 50%; width: 0.8rem; height: 2px; background-color: #2E2A59;
		-webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%);
	}
	#slide_map .inner .layout > .binds .btn_wrap .close span:after{
		content: ""; display: block; position: absolute; top: 50%; left: 50%; width: 2px; height: 0.8rem; background-color: #2E2A59;
		-webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%);
	}
	#search_filter{left: auto; right: 100%;}
	#search_filter.open{left: auto; right: 0; max-width: 100%;}
	#search_filter .in,
	#search_filter.open .in{width: 100%; padding: 1rem 2rem;}
	#search_filter .s_btn,
	#search_filter.open .s_btn{position: absolute; top: 1.3rem; right: 1rem; width: 3rem; height: 3rem; background: transparent; border-left: none;}
	#search_filter .s_btn span{
		position: relative; top: auto; left: auto; width: 100%; height: 100%; background: url(../images/common/search_img02.svg) no-repeat center center; background-size: 100% auto; text-indent: -9999px;
		-webkit-transform: translate(0, 0) rotate(0); transform: translate(0, 0) rotate(0);
	}
	#search_filter .s_btn span:before,
	#search_filter .s_btn span:after{display: none;}
	
	#container #spot{position: relative; height: 15rem;}
	#container #spot .layout .in{padding-top: 3.2rem;}
	#container #spot .layout .in .tit{font-size: 2.2rem;}
	#container #spot .layout .in .tit:before{width: 2.4rem;}
	#container #spot .layout .in .t_wrap #lnb{display: none;}
	
	#footer .in .t .relate_site{width: 15rem;}
	
}
@media screen and (max-width: 840px){
	
}
@media screen and (max-width: 640px){
	#header{font-size: 8px;}
	#header .toputil_control >a{margin-left: 1.5rem;}
	
	#slide_map .inner .layout > .binds .top_box{height: 4.58rem;}
	#slide_map .inner .layout > .binds .top_box a{width: 9.83rem; height: 2.67em;}
	#slide_map .inner .layout > .binds .close_btn{top: 1.5rem;}
	
	#container #spot{height: 12rem;}
	#container #spot .layout .in{padding-top: 2.8rem;}
	#container #spot .layout .in .tit{font-size: 1.9rem;}
	#container #spot .layout .in .tit:before{width: 2.2rem;}
	#container #spot .layout .in .t_wrap .navi li{margin-left: 0.5rem; line-height: 2.8rem;}
	#container #spot .layout .in .t_wrap .navi li:not(:first-child):before{margin-right: 0.45rem;}
	#container #spot .layout .in .t_wrap .navi li a{font-size: 1rem;}
	#container #content{padding-bottom: 5rem;}
	
	
}
@media screen and (max-width: 480px){
	#container #spot{height: 11rem;}
	#container #spot .layout .in .tit{font-size: 1.75rem;}
	#container #spot .layout .in .tit:before{width: 2rem;}
	
	#footer .in{padding-bottom: 2rem;}
	#footer .in .t{margin-bottom: 0; padding-top: 0; padding-bottom: 0;}
	#footer .in .t:before{display: none;}
	#footer .in .t >ul{display: block; margin-top: 1.5rem;}
	#footer .in .t >ul >li{display: inline-block; width: auto; }
	#footer .in .t .relate_site{position: relative; top: auto; right: auto; width: calc(100% + 3rem); margin-left: -1.25rem; border-left: none; border-right: 0; border-bottom: 1px solid #494949;}
	#footer .in .t .relate_site >a{padding: 1rem calc(1.4375rem + 1.25rem) 1rem 1.4375rem;}
	#footer .in .t .relate_site >a:before{right: calc(1.25rem + 0.6875rem);}
	#footer .in .t .relate_site >ul{height: 200px;}
	#footer .in .addr{margin-top: 1rem;}
}











/*-------------------------------------------------------------------
	분류그룹 : 공통 > 검색 필터
	속성순서 : 레이아웃, 박스 모델, 배경, 폰트/정렬, 기타
-------------------------------------------------------------------*/
.total-filter {border:1px solid #e9e9e9;    margin-bottom: 20px;}
.total-filter .filter-head {display: block;}
.total-filter .filter-head .btn-filter {display: block; width:100%; border-top:2px solid #000000; border-bottom:1px solid #e9e9e9; background-color:#F7F8FB; text-align: left;}
.total-filter .filter-head .btn-filter .form-item {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; position:relative; width:100%; height:100%; padding-right:35px; -webkit-box-pack: justify; -moz-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -moz-align-items: center; -ms-flex-align: center; align-items: center;}
.total-filter .filter-head .btn-filter .form-item::after {content:''; position:absolute; top:calc(50% - 4px); right: 20px; width:8px; height:8px; border-right:2px solid #000; border-bottom:2px solid #000000; transform: rotate(45deg) translateY(-50%);}
.total-filter .filter-head .btn-filter .form-cell {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; padding:20px; -webkit-box-flex: 1; -ms-flex: 1; flex-grow: 1; -webkit-box-align: center; -moz-align-items: center; -ms-flex-align: center; align-items: center;}
.total-filter .filter-head .btn-filter .form-cell .cell-tit {display: block; min-width:170px; padding-right:15px; font-weight:700; font-size:1.125rem; color:#000000; flex-shrink: 0;}
.total-filter .filter-head .btn-filter .form-cell .cell-sub-tit {font-weight:500; font-size:1rem; color:#666666;}

.total-filter .filter-body { /* display: none; */ }
.total-filter .filter-body .form-item {border-bottom:1px solid #e9e9e9; background-color:#ffffff; -webkit-box-align: center; -moz-align-items: center; -ms-flex-align: center; align-items: center;} 
.total-filter .filter-body .form-item .item-tit {width:120px; padding:10px 20px; flex-shrink:0;}
.total-filter .filter-body .form-item .item-tit .tit {display: block; font-weight:600; font-size:1rem; color:#000000; word-break:break-word;}
.total-filter .filter-body .form-item .item-con {width:100%; padding:20px 20px 10px 20px;}
.total-filter .filter-body .form-item .item-con .intxt,
.total-filter .filter-body .form-item .item-con .sel {display:block; width:100%;}

/* 버튼 리스트  */
.total-filter .result-wrap {padding:20px;}
.total-filter .result-wrap .btn-group {-webkit-box-pack: center; -moz-box-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -moz-align-items: center; -ms-flex-align: center; align-items: center;}
.total-filter .result-wrap .btn-group .btn {min-width: 100px;}

/*-------------------------------------------------------------------
	@interaction
-------------------------------------------------------------------*/
.total-filter .filter-head .form-item::after {transition:transform 0.3s;}
.total-filter .filter-head.active .form-item::after { transform:rotate(-135deg);}

.total-filter .filter-head .btn-filter .form-item {transition:background 0.3s;}
.total-filter .filter-head .btn-filter .form-item::after {transition:transform 0.1s;}
.total-filter .filter-head .btn-filter.active .form-item::after {transform:rotate(-135deg);}

/*-------------------------------------------------------------------
	@media
-------------------------------------------------------------------*/
@media screen and (max-width:800px) {
    .total-filter .filter-head .btn-filter .form-item {padding-right: 30px;}
    .total-filter .filter-head .btn-filter .form-item::after {right: 15px;}
    .total-filter .filter-head .btn-filter .form-cell {display: block; padding: 15px;}
    .total-filter .filter-head .btn-filter .form-cell .cell-tit {margin-bottom:5px;}

    .total-filter .filter-body .form-item {display: block; width:100%;}
    .total-filter .filter-body .form-item .item-tit {width:100%; padding: 10px 15px;}
    .total-filter .filter-body .form-item .item-con {padding:0 15px 5px;}

    .total-filter .result-wrap {padding: 15px;}
}
@media screen and (max-width:600px) {
    .total-filter .result-wrap .btn-group > .g-item {width:100%;}
    .total-filter .result-wrap .btn-group > .g-item .btn {width:100%;}

    .total-filter .filter-head .btn-filter .form-item::after {width:6px; height:6px;}
    .total-filter .filter-head .btn-filter .form-cell .cell-tit {margin-bottom:0;}
    .total-filter .filter-head .btn-filter .form-cell .cell-sub-tit {display: none;}
}



/*-------------------------------------------------------------------
	분류그룹 : 공통 > 검색 필터 > 키워드
	속성순서 : 레이아웃, 박스 모델, 배경, 폰트/정렬, 기타
-------------------------------------------------------------------*/
.total-filter .keyword-area {display: block; position: relative; padding: 15px 50px; border-width: 0 1px; border-style: solid; border-color: #e9e9e9; background-color: #F7F8FB;}
.total-filter .keyword-area .slide-nav {display: block;}
.total-filter .keyword-area .slide-nav .btn-nav {display: block; position: absolute; top: 15px; z-index: 3; width: 30px; height: calc(100% - 30px); border-radius: 4px; border: 1px solid transparent; background-color: transparent;}
.total-filter .keyword-area .slide-nav .btn-nav::before {content:""; position: absolute; top: calc(50% - 6px); left: calc(50% - 3px); border-style: solid;}
.total-filter .keyword-area .slide-nav .btn-nav.btn-prev {left: 20px;}
.total-filter .keyword-area .slide-nav .btn-nav.btn-prev::before {border-width: 6px 6px 6px 0; border-color: transparent #000000 transparent transparent;}
.total-filter .keyword-area .slide-nav .btn-nav.btn-next {right: 20px;}
.total-filter .keyword-area .slide-nav .btn-nav.btn-next::before {border-width: 6px 0 6px 6px; border-color: transparent transparent transparent #000000;}
.total-filter .keyword-area .keyword-slide {display: block; overflow: hidden;}
.total-filter .keyword-area .keyword-slide .swiper-wrapper .swiper-slide {width: auto; max-width: 100%;}

/*-------------------------------------------------------------------
	@interaction
-------------------------------------------------------------------*/
.total-filter .keyword-area .slide-nav .btn-nav {transition: border 0.4s, background 0.4s;}
.total-filter .keyword-area .slide-nav .btn-nav:focus,
.total-filter .keyword-area .slide-nav .btn-nav:hover {border-color: #e9e9e9; background-color: #ffffff;}

/*-------------------------------------------------------------------
	@media
-------------------------------------------------------------------*/
@media screen and (max-width:800px) {
	.total-filter .keyword-area {padding: 15px 40px;}
	.total-filter .keyword-area .slide-nav .btn-nav.btn-prev {left: 10px;}
	.total-filter .keyword-area .slide-nav .btn-nav.btn-next {right: 10px;}
}
@media screen and (max-width:475px) {
	.total-filter .keyword-area {padding: 10px 30px;}
	.total-filter .keyword-area .slide-nav .btn-nav {top: 10px; width: 20px; height: calc(100% - 20px);}
	.total-filter .keyword-area .slide-nav .btn-nav.btn-prev {left: 10px;}
	.total-filter .keyword-area .slide-nav .btn-nav.btn-next {right: 10px;}
	.total-filter .keyword-area .keyword-slide .swiper-wrapper .swiper-slide .btn-badge {padding: 8px;}
}


/*-------------------------------------------------------------------
	분류그룹 : 공통 > 검색 필터
	속성순서 : 레이아웃, 박스 모델, 배경, 폰트/정렬, 기타
-------------------------------------------------------------------*/
.filter-form {border-top: 2px solid #000000;}
.filter-form .filter-body {display: block; border-width: 0 1px; border-style: solid; border-color: #e9e9e9;}
.filter-form .filter-body .form-item {border-bottom:1px solid #e9e9e9; background-color:#ffffff; -webkit-box-align: center; -moz-align-items: center; -ms-flex-align: center; align-items: center;} 
.filter-form .filter-body .form-item .item-tit {width:170px; padding:10px 20px; flex-shrink:0;}
.filter-form .filter-body .form-item .item-tit .tit {display: block; font-weight:600; font-size:1rem; color:#000000; word-break:break-word;}
.filter-form .filter-body .form-item .item-con {width:100%; padding:10px 20px 0 10px;}
.filter-form .filter-body .form-item .item-con .intxt,
.filter-form .filter-body .form-item .item-con .sel {display:block; width:100%;}

/* 버튼 리스트  */
.filter-form .result-wrap {padding:20px;}
.filter-form .result-wrap .btn-group {-webkit-box-pack: center; -moz-box-justify-content: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -moz-align-items: center; -ms-flex-align: center; align-items: center;}
.filter-form .result-wrap .btn-group .btn {min-width: 100px;}

/*-------------------------------------------------------------------
	@media
-------------------------------------------------------------------*/
@media screen and (max-width:800px) {
    .filter-form .filter-body .form-item {display: block; width:100%;}
    .filter-form .filter-body .form-item .item-tit {width:100%; padding: 10px 15px;}
    .filter-form .filter-body .form-item .item-con {padding:0 15px 5px;}

    .filter-form .result-wrap {padding: 15px;}
}


