@charset "utf-8";
/* 게시판 리스트 검색*/
.board-wrap .bod-srch-box{display: flex; flex-wrap: wrap; justify-content: center; padding: 1.25rem; background-color: #F7F7F7;}
.board-wrap .bod-srch-box [data-skin="input"]{min-width: 28.125rem;}
.board-wrap .bod-srch-box [data-skin="btn"]{display: inline-flex; align-items: center; justify-content: center; width: 6.25rem; min-width: 0; margin-left: 0.625rem; border-radius: 0; background-color: #333; border: none; color: #fff; letter-spacing: -0.32px;}

/* 게시판 리스트 게시글 수, 정렬*/
.board-wrap .bod-srch-box + .bod-list-header{margin-top: 2.1875rem;}
.board-wrap .bod-list-header .bod-search-area{display: flex; flex-wrap: wrap; align-items: flex-end; justify-content: space-between;}
.board-wrap .bod-list-header .bod-search-area h4{margin-bottom: 0;}
.board-wrap .bod-list-header .bod-search-area .total{font-size: 1.0625rem; color: #000; font-weight: 400;}
.board-wrap .bod-list-header .bod-search-area .total .num{color: #CA1212; font-weight: 600;}
.board-wrap .bod-list-header .bod-search-area .sort{display: flex; align-items: center; justify-content: flex-end;}
.board-wrap .bod-list-header .bod-search-area .sort [data-skin="btn"]{min-width: 5rem; margin-left: 0.5rem; padding: 0; background-color: #000; border-color: #000; border-radius: 0; line-height: calc(3.125rem - 2px);}
.board-wrap .bod-list-header .bod-search-area .sort [data-skin="btn"]:hover{color: #000; background-color: #fff;}



/* 게시판 리스트*/
.board-wrap .bod-list-body{margin-top: 1.3125rem;}
.board-wrap .bod-list-body .bod-gallery-list{display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: flex-start;}
.board-wrap .bod-list-body .bod-gallery-list li{
	display: block; width: calc((100% - 1.875rem - 1.875rem - 1.875rem) / 4); margin-left: 1.875rem; border: 1px solid #E0E0E0; border-radius: 20px; box-shadow: 5px 5px 30px 0px transparent;
	-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
.board-wrap .bod-list-body .bod-gallery-list li:hover{border-color: #9385D8; box-shadow: 5px 5px 30px 0px #EDEAFF;}
.board-wrap .bod-list-body .bod-gallery-list li:nth-child(4n-3){margin-left: 0;}
.board-wrap .bod-list-body .bod-gallery-list li:nth-child(n+5){margin-top: 1.875rem;}
.board-wrap .bod-list-body .bod-gallery-list li >div{overflow: hidden; position: relative; width: 100%; height: 100%; padding: calc(15rem + 1.125rem) 1.875rem 1.125rem; border-radius: 20px;}


.board-wrap .bod-list-body .bod-gallery-list li >div span{display: block; }
.board-wrap .bod-list-body .bod-gallery-list li >div span i{display: inline-block; min-width: 3.75rem; padding: 0.22rem 1.125rem; border: 1px solid #E0E0E0; color: #000; font-size: 0.8125rem; font-weight: 600; text-align: center;background-color: #fff; border-radius: 10px; font-style: normal; }
.board-wrap .bod-list-body .bod-gallery-list li >div span i:not(:last-child){margin-right: 0.25rem;}
.board-wrap .bod-list-body .bod-gallery-list li >div span i[data-color="2"]{background-color: #413C7F; border-color: #413C7F; color: #fff; font-weight: 500;}
.board-wrap .bod-list-body .bod-gallery-list li >div span i[data-color="3"]{background-color: #03022A; border-color: #03022A; color: #fff; font-weight: 500;}
.board-wrap .bod-list-body .bod-gallery-list li >div span + a{margin-top: 0.8rem;}


.board-wrap .bod-list-body .bod-gallery-list li >div >a{display: block; }
.board-wrap .bod-list-body .bod-gallery-list li >div >a .imgs{position: absolute; top: 0; left: 0; width: 100%; height: 15rem; background-repeat: no-repeat; background-position: center center; background-size: cover; border-radius: 20px 20px 0 0; text-indent: -9999px;}
.board-wrap .bod-list-body .bod-gallery-list li >div >a strong{display: block; overflow: hidden; color: #000; font-size: 1.125rem; font-weight: 600; white-space: nowrap; text-overflow: ellipsis;}
.board-wrap .bod-list-body .bod-gallery-list li >div >a + span{display: block; margin-top: 1.125rem; color: #535353; font-weight: 500;}
.board-wrap .bod-list-body .bod-gallery-list li >div >.btn_wrap{display: flex; position:relative; flex-wrap: nowrap; align-items: flex-start; justify-content: center; margin-top: 1.125rem;}
.board-wrap .bod-list-body .bod-gallery-list li >div >.btn_wrap a{
	display: block; width: 100%; padding: 0.422rem 0.5rem; text-align: center; font-size: 0.9375rem; border-radius: 10px; border-width: 1px; border-style: solid;
	-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
.board-wrap .bod-list-body .bod-gallery-list li >div >.btn_wrap a:not(:first-child){margin-left: 0.625rem;}
.board-wrap .bod-list-body .bod-gallery-list li >div >.btn_wrap a[data-type="taking"]{background-color: #015294; border-color: #015294; color: #fff;}
.board-wrap .bod-list-body .bod-gallery-list li >div >.btn_wrap a[data-type="taking"]:hover{background-color: #fff; color: #015294; font-weight: 500;}
.board-wrap .bod-list-body .bod-gallery-list li >div >.btn_wrap a[data-type="complete"]{background-color: #DFDFDF; border-color: #DFDFDF; color: #000; font-weight: 500;}
.board-wrap .bod-list-body .bod-gallery-list li >div >.btn_wrap a[data-type="complete"]:hover{background-color: #fff}
.board-wrap .bod-list-body .bod-gallery-list li >div >.btn_wrap a[data-type="apply"]{background-color: #413C7F; border-color: #413C7F; color: #fff;}
.board-wrap .bod-list-body .bod-gallery-list li >div >.btn_wrap a[data-type="apply"]:hover{background-color: #fff; color: #413C7F; font-weight: 500;}
.board-wrap .bod-list-body .bod-gallery-list li >div >.btn_wrap a[data-type="blank"]{background-color: #413C7F; border-color: #413C7F; color: #fff;}
.board-wrap .bod-list-body .bod-gallery-list li >div >.btn_wrap a[data-type="blank"]:hover{background-color: #fff; color: #413C7F; font-weight: 500;}
.board-wrap .bod-list-body .bod-gallery-list li >div >.btn_wrap a span{display: inline-block; position: relative; padding-right: 1.5rem; }
.board-wrap .bod-list-body .bod-gallery-list li >div >.btn_wrap a span:before{
	content: ""; display: block; position: absolute; top: 0.1rem; right: 0; width: 0.9375rem; height: 0.9375rem; background-repeat: no-repeat; background-position: center center; background-size: 100% auto; 
	-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
.board-wrap .bod-list-body .bod-gallery-list li >div >.btn_wrap a[data-type="taking"] span:before{background-image: url(../images/sub/board/board_img01.svg);}
.board-wrap .bod-list-body .bod-gallery-list li >div >.btn_wrap a[data-type="taking"]:hover span:before{background-image: url(../images/sub/board/board_img02.svg);}
.board-wrap .bod-list-body .bod-gallery-list li >div >.btn_wrap a[data-type="complete"] span:before{background-image: url(../images/sub/board/board_img03.svg);}
.board-wrap .bod-list-body .bod-gallery-list li >div >.btn_wrap a[data-type="apply"] span:before{background-image: url(../images/sub/board/board_img04.svg);}
.board-wrap .bod-list-body .bod-gallery-list li >div >.btn_wrap a[data-type="apply"]:hover span:before{background-image: url(../images/sub/board/board_img05.svg);}
.board-wrap .bod-list-body .bod-gallery-list li >div >.btn_wrap a[data-type="blank"] span:before{background-image: url(../images/sub/board/board_img19.svg);}
.board-wrap .bod-list-body .bod-gallery-list li >div >.btn_wrap a[data-type="blank"]:hover span:before{background-image: url(../images/sub/board/board_img20.svg);}




.board-wrap .bod-list-body .bod-gallery-list  .hoverDiv .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9); /* 반투명 검정색 커버 */
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;  
    text-align: left;  
}

.board-wrap .bod-list-body .bod-gallery-list .hoverDiv .cover-content {font-size: 1rem;padding: 80px;width: 100%;}
.board-wrap .bod-list-body .bod-gallery-list .hoverDiv .cover-item {display: flex;align-items: center;margin: 30px 0;}
.board-wrap .bod-list-body .bod-gallery-list .hoverDiv  .cover-label {font-weight: bold;color: grey;}

.board-wrap .bod-list-body .bod-gallery-list .hoverDiv:hover .cover {opacity: 1;}
.board-wrap .bod-list-body .bod-gallery-list .hoverDiv  .cover-text { display: flex; flex-direction: column;}
.board-wrap .bod-list-body .bod-gallery-list .hoverDiv .cover-image { width: 40px; height: 40px; margin-right: 20px; color: white;display: flex;justify-content: center; align-items: center;}


/* 게시판 리스트 없을 경우 */
.board-wrap .bod-list-body .empty-txt{padding: 4.5rem 0; border-top: 2px solid #000; border-bottom: 1px solid #E0E0E0; text-align: center; box-sizing: border-box;}


/*faq 게시판*/
.faq_list li,
.faq_list li strong a,
.faq_list li .question a:after{-webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
.faq_list{border-top: 2px solid #000;}
.faq_list li{overflow: hidden; position: relative;}
.faq_list li .question a{display: block; width: 100%; padding: 1.25rem 2.1875rem; color: #000; font-weight: 600; font-size: 1.125rem; border-bottom: 1px solid #E0E0E0;}
.faq_list li .question.on a{color: #413C7F;}
.faq_list li .question a span{display: block; position: relative; padding-left: 4.6875rem; padding-right: 2rem;}
.faq_list li .question a span:before{content: ""; display: block; position: absolute; top: -0.75rem; left: 0; width: 2.8125rem; height: 2.8125rem; background: url(../images/sub/board/board_img14.svg) no-repeat center center; background-size: 100% auto;}
.faq_list li .question a span:after{
	content: ""; display: block; position: absolute; top: 0rem; right: 0; width: 1.5rem; height: 1.5rem; background: url(../images/sub/board/board_img16.svg) no-repeat center center; background-size: 100% auto;
	-webkit-transition: background-image 0.2s linear; transition: background-image 0.2s linear;
}
.faq_list li .question.on a span:after{
	background-image: url(../images/sub/board/board_img17.svg);
	-webkit-transform: rotate(-180deg); transform: rotate(-180deg);
}
.faq_list li .answer{display: none; padding: 2.3125rem 2.1875rem 2rem; background-color: #F7F7F7; border-bottom: 1px solid #E0E0E0;}
.faq_list li .answer div{position: relative; padding-left: 4.6875rem; color: #666; font-weight: 500; font-size: 1.125rem;}
.faq_list li .answer div:before{content: ""; display: block; position: absolute; top: -0.85rem; left: 0; width: 2.8125rem; height: 2.8125rem; background: url(../images/sub/board/board_img15.svg) no-repeat center center; background-size: 100% auto;}
.faq_list li .answer div b{color: #000;}




.bod-notice-list{display: table; table-layout: fixed; width: 100%; border-collapse: collapse; border-spacing: 0; border-top: 2px solid #000;}
.bod-notice-list li{position:relative; display:table-row; border-bottom:1px solid #E0E0E0;}
.bod-notice-list li p,
.bod-notice-list li .subject,
.bod-notice-list li.thead strong{display:table-cell; text-align:center; vertical-align:middle;}
.bod-notice-list li p{height: 3.33em; padding: 0.5rem 0.5rem; font-size: 1.125rem; color: #111; box-sizing: border-box;}

.bod-notice-list li .no{width: 6.25rem; font-weight:500;}
.bod-notice-list li .subject{width:auto;}
.bod-notice-list li .writer{width: 6.25rem; word-break:break-all;}
.bod-notice-list li .date{width: 12.5rem;}
.bod-notice-list li .counter{width: 6.25rem;}

/*헤드 항목*/
.bod-notice-list li.thead{background-color:#F7F7F7;}
.bod-notice-list li.thead strong{height: 3.9375rem; font-weight: 600; color: #111; font-size: 1.125rem;}
/*공지글*/
.bod-notice-list li.notice .no{overflow: hidden; background: url(../images/sub/board/board_img18.svg) no-repeat center center; background-size: 1.125rem auto; text-indent: -9999px;}
.bod-notice-list li.notice .subject a strong{color: #000; font-weight: 500;}
/*제목부분*/
.bod-notice-list li .subject{padding-left: 2rem; padding-right: 2rem;}
.bod-notice-list li .subject a{display: block; text-align: left; color: #111;}
.bod-notice-list li .subject a strong{display: inline-block; font-weight: 400;}
.bod-notice-list li .subject a:hover strong{text-decoration: underline;}
/*아이콘*/
.bod-notice-list li .subject a strong .new{overflow: hidden; display: none; margin: 0 0.15em; vertical-align: middle;}
.bod-notice-list li .subject a.new strong .new{display: inline-block;}
.bod-notice-list li .subject a strong .new{width: 1em; background: url(../../../images/site/skin/icon_board_new.svg) no-repeat left center; background-size: 15px 15px; text-indent:-2000px;}




/* 페이징 */
.paging{overflow-x: auto; margin-top: 2.5rem; text-align: center;}
.paging ul{display: inline-flex; align-items: flex-start;}
.paging ul li{}
.paging ul li:not(:last-child){margin-right: 0.5rem;}
.paging ul li a{
	display: block; width: 2.1875rem; height: 2.1875rem; line-height: calc(2.1875rem - 2px); color: #9B9B9B; text-align: center; font-size: 1.0625rem; background-color: #fff; border: 1px solid #E0E0E0;
	-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
.paging ul li.on a,
.paging ul li a:hover{background-color: #333; color: #fff; font-weight: 500; border-color: #333;}
.paging ul li.first a span,
.paging ul li.prev a span,
.paging ul li.next a span,
.paging ul li.last a span{display: block; width: 100%; height: 100%; position: relative; text-indent: -9999px;}
.paging ul li.first a span:before,
.paging ul li.prev a span:before,
.paging ul li.next a span:before,
.paging ul li.last a span:before{
	content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-repeat: no-repeat; background-position: center center; background-size: 100% auto; 
	-webkit-transition: all 0.2s linear; transition: all 0.2s linear;
}
.paging ul li.first a span:before,
.paging ul li.last a span:before{background-image: url(../images/sub/board/board_img06.svg);}
.paging ul li.last a span:before{
	-webkit-transform: rotate(180deg); transform: rotate(180deg);
}
.paging ul li.first a:hover span:before,
.paging ul li.last a:hover span:before{background-image: url(../images/sub/board/board_img07.svg);}
.paging ul li.prev a span:before,
.paging ul li.next a span:before{background-image: url(../images/sub/board/board_img08.svg);}
.paging ul li.next a span:before{
	-webkit-transform: rotate(180deg); transform: rotate(180deg);
}
.paging ul li.prev a:hover span:before,
.paging ul li.next a:hover span:before{background-image: url(../images/sub/board/board_img09.svg);}



.board_view.type01{border-top: 2px solid #000;}
.board_view.type01 .titles{display: flex; flex-wrap: nowrap; justify-content: space-between; align-items: flex-start; padding: 1.35rem 0 1.35rem 0.9375rem; border-bottom: 1px solid #e9e9e9;}
.board_view.type01 .titles strong{font-size: 1.375rem;}
.board_view.type01 .titles .btn_wrap{display: flex; flex-wrap: nowrap; justify-content: flex-end; margin-top: 0; margin-left: 1rem;}
.board_view.type01 .titles .btn_wrap [data-skin="btn"]:not(:last-child){margin-right: 0.75rem;}
.board_view.type01 .cont{padding: 2.5rem 0.9375rem; border-top: 1px solid #E9E9E9; /*font-size: 1.125rem;*/ color: #000; letter-spacing: -0.36px; font-weight: 500;}
.board_view.type01 .cont .iframes{position: relative; height: 0; margin-bottom: 3rem; padding-bottom: 56.25%;}
.board_view.type01 .cont .iframes iframe{position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.board_view.type01 .nuri{display: flex; flex-wrap: wrap; align-items: flex-start; justify-content: flex-end; margin-top: 2.4375rem;}
.board_view.type01 .nuri img{display: inline-block; width: auto; height: 3.375rem;}
.board_view.type01 .nuri img:not(:first-child){margin-left: 0.9375rem;}

.board_view.type02{border-top: 2px solid #000;}
.board_view.type02 .titles{display: block; padding: 1.5rem 1rem; font-size: 1.75rem; color: #000; font-weight: 600; letter-spacing: -0.56px; text-align: center;}
.board_view.type02 .in{padding: 2rem; background-color: #F7F7F7; text-align: center; }
.board_view.type02 .in ul{width: 100%; max-width: 69.75rem; margin: 0 auto; text-align: left;}
.board_view.type02 .in ul:after{content: ""; display: block; clear: both;}
.board_view.type02 .in ul li{float: left; position: relative; width: calc((100% - 1rem) / 2); padding-left: 7.75rem;; color: #666; font-weight: 500; letter-spacing: -0.36px; font-size: 1.125rem;}
.board_view.type02 .in ul li:before{content: ""; display: block; position: absolute; top: 0.45rem; left: 0; width: 4px; height: 4px; background-color: #413C7F; border-radius: 50%; }
.board_view.type02 .in ul li:nth-child(n+3){margin-top: 1.25rem;}
.board_view.type02 .in ul li:nth-child(2n-2){margin-left: 1rem;}
.board_view.type02 .in ul li strong{display: block; position: absolute; top: 0; left: 0.75rem; width: 8rem; color: #000;}




#content .econView-info {display: flex; padding: 10px 20px;}
#content .econView-info .view-info-column {display:flex; padding: 10px 0 0; -webkit-box-lines: multiple; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; flex-grow: 1;}
#content .econView-info .view-info-column > li {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; position: relative; margin-bottom: 10px; padding-right:25px; -webkit-box-align: center; -moz-align-items: center; -ms-flex-align: center; align-items: center;}
#content .econView-info .view-info-column > li::before {content:""; position: absolute; top: 10%; right: 12px; width: 1px; height: 80%; background-color: #999;}
#content .econView-info .view-info-column > li:last-child::before {display: none;}
#content .econView-info .view-info-column > li .titInfo {display: block; padding-right: 10px; font-weight: 600; font-size: 1rem; color:#141414; flex-shrink: 0;}
#content .econView-info .view-info-column > li .txt {display: block; font-weight: 400; font-size:1rem; color:#5C6C82; word-break: break-all;}

#content .econView-info .link-box {display: block; padding-left: 20px; flex-shrink: 0;}
#content .econView-info .link-box .btn-origin-link {display: flex; position: relative; height: 100%; padding: 0 50px 0 20px; border-radius: 5px; background-color: #AD733E; font-weight: 600; font-size: 1rem; color: #ffffff; align-items: center;}
#content .econView-info .link-box .btn-origin-link::before {content:""; position: absolute; top: 0; right: 20px; width: 20px; height: 100%; background: url(../images/common/i_link_on.png) no-repeat center;}
.view-tag-wrap {display: block; padding: 5px 20px; border-top: 1px dashed #dedede;}

#heartCnt { padding-right: 10px; font-weight: 600; font-size: 1rem; color:#666; flex-shrink: 0;}



#content .hash-wrap {display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: flex; margin: 0 -5px; -webkit-box-lines: multiple; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap;}
#content .hash-wrap > li {padding: 5px;}
#content .hash-wrap > li .label.badge {font-size:0.875rem;}




/*-------------------------------------------------------------------
	240221 수료증 휘스커 추가 
-------------------------------------------------------------------*/
/* .sub-txt */
.board-wrap .sub-txt {display:block; position:relative; margin-top:15px; padding-left:30px; font-weight:500; font-size:1rem; color:#000;}
.board-wrap .sub-txt::after {content:''; display:block; position:absolute; top:calc(0.65rem - 12px); left:0; width:24px; height:24px; background:url(../images/board/I_caution.svg) no-repeat left center;}



/* 수료증출력 버튼 */
.board-wrap .bod-list-body .table tr td {color:#666;}
.board-wrap .bod-list-body .table tr td.print > a {min-width:auto; background-color:#7870DA; border-color:#7870DA;}
.board-wrap .bod-list-body .table tr td.print > a > span {display:block; padding:10px 15px; font-size:0; background-image:url(../images/board/I_print.svg); background-repeat:no-repeat; background-position:center;}

/*-------------------------------------------------------------------
	interaction
-------------------------------------------------------------------*/
.board-wrap .bod-list-body .table tr td.print > a {transition:background 0.3s;}
.board-wrap .bod-list-body .table tr td.print > a > span {transition:background 0.3s;}


.board-wrap .bod-list-body .table tr td.print > a:focus,
.board-wrap .bod-list-body .table tr td.print > a:hover,
.board-wrap .bod-list-body .table tr td.print > a.active {background-color:#fff;}
.board-wrap .bod-list-body .table tr td.print > a:focus > span,
.board-wrap .bod-list-body .table tr td.print > a:hover > span,
.board-wrap .bod-list-body .table tr td.print > a.active > span {background-image:url(../images/board/I_print_on.svg);}

